<div class="account-form">
    <h2>Your account details</h2>
    <%= simple_form_for current_user, url: inventory_account_path do |user_form| %>
        <div class="name-fields">
            <%= user_form.input :first_name %>
            <%= user_form.input :last_name %>
        </div>
        <%= user_form.fields_for :email do |email_form| %>
            <%= email_form.input :address, label: 'Email address' %>
        <% end %>
        <div class="password-fields">
            <%= user_form.input :password %>
            <%= user_form.input :password_confirmation %>
        </div>
        <%= user_form.fields_for :location do |location_form| %>
            <%= location_form.input :street_address %>
            <div class="city-state-zip">
                <%= location_form.input :city %>
                <%= location_form.input :state, collection: us_states %>
                <%= location_form.input :postal_code %>
            </div>
        <% end %>
        <div class="form-actions">
            <%= user_form.submit 'Update' %>
        </div>
    <% end %>
</div>

