<div class="signin-form">
    <div class="logo">
        <%= link_to 'hockd', homepage_landing_path %>
    </div>
    <div class="full-page-form">
        <p>Recover your password</p>
        <% if @error %>
            <div class="error"><%= @error %></div>
        <% end %>
        <%= form_tag homepage_reset_password_form_path do %>
            <div class="form-group">
                <%= label_tag :email, 'Email address' %>
                <%= email_field_tag :email %>
            </div>
            <div class="form-actions">
                <%= submit_tag 'Recover' %>
            </div>
        <% end %>
    </div>
</div>
