
<div class="signin-form">
    <div class="logo">
        <%= link_to 'hockd', homepage_landing_path %>
    </div>
    <div class="full-page-form">
        <p>Check your email.</p>
        <p>An email has been sent to you with instructions to reset your password.</p>
        <p><%= link_to 'Return to Hockd.com', homepage_landing_path, class: 'button' %></p>
    </div>
</div>
