<div class="signin-form">
    <div class="logo">
        <%= link_to 'hockd', homepage_landing_path %>
    </div>
    <div class="full-page-form">
        <p>Welcome Back!</p>
        <% if @user.errors.messages.count > 0  %>
            <div class="error"><%= @user.errors.messages.first %></div>
        <% end %>
        <%= form_tag homepage_reset_password_path do %>
            <div class="form-group">
                <%= label_tag :password %>
                <%= password_field_tag :password %>
            </div>
            <div class="form-group">
                <%= label_tag :password_confirmation %>
                <%= password_field_tag :password_confirmation %>
            </div>
            <div class="form-actions">
                <%= submit_tag 'Reset Password' %>
            </div>
        <% end %>
    </div>
</div>
