<div class="signin-form">
    <div class="logo">
        <%= link_to 'hockd', homepage_landing_path %>
    </div>
    <div class="full-page-form">
        <p>Welcome Back!</p>
        <% if @error %>
            <div class="error"><%= @error %></div>
        <% end %>
        <%= form_tag url: homepage_signin_path do %>
            <div class="form-group">
                <%= label_tag :email %>
                <%= email_field_tag :email %>
            </div>
            <div class="form-group">
                <%= label_tag :password %>
                <%= password_field_tag :password %>
            </div>
            <div class="form-actions">
                <%= submit_tag 'Login' %>
            </div>
        <% end %>
    </div>
    <div class="panel">
        <%= link_to 'Create an account', homepage_signup_path %>
        <%= link_to 'Recover password', homepage_reset_password_form_path %>
    </div>
</div>
