<div class = "browsers">
    <div class = "browser">
        <div class="browser-top-bar">
            <div class="browser-circle"></div>
            <div class="browser-circle"></div>
            <div class="browser-circle"></div>
        </div>
        <div class="browser-content hydrogen"></div>
    </div>
    <div class = "browser">
        <div class="browser-top-bar">
            <div class="browser-circle"></div>
            <div class="browser-circle"></div>
            <div class="browser-circle"></div>
        </div>
        <div class="browser-content nitrogen">
        </div>
    </div>
    <div class = "browser">
        <div class="browser-top-bar">
            <div class="browser-circle"></div>
            <div class="browser-circle"></div>
            <div class="browser-circle"></div>
        </div>
        <div class="browser-content cinder"></div>
    </div>
</div>
<div class="cover"></div>

<div class="pitch">
    <div class="wrapper">
        <div class="price-section">
            <h3>Application pricing</h3>
            <div class="price-box">
                <div class="features">
                    <ul class="fa-ul">
                        <li><%= icon 'check-square fa-li' %>Account creation</li>
                        <li><%= icon 'check-square fa-li' %>Data hosting</li>
                        <li><%= icon 'check-square fa-li' %>Real time data backup</li>
                        <li><%= icon 'check-square fa-li' %>Reduntant site hosting</li>
                        <li><%= icon 'check-square fa-li' %>Item image hosting</li>
                        <li><%= icon 'check-square fa-li' %>99.9% uptime</li>
                        <li><%= icon 'check-square fa-li' %>Free support</li>
                    </ul>
                </div>
                <div class="price">
                    $59.00
                    <span>per month</span>
                </div>
            </div>
        </div>
        <div class="pitch-section">
            <h2>Online Merchandise Catalogues</h2>
            <p>Customer make an increasing number of buying decisions online. This does not only apply to online business anymore. 90% of consumers research their purchasing decisions online even before visiting physical stores. The difference between a simple online presence and your customers being able to browse your inventory is huge.</p>
            <p>Hockd allows you to easily give your inventory, or high demand items, exposure online. With Hockd you can have a full business website, or embed an online catalogue into your exisitng website, in minutes. Edit your items, upload photos, feature items, and customize the appearance of your site through an easy to use and intuitive web based control panel.</p> 
            <div class="signup_button">
                <%= link_to 'Get Started', homepage_signup_path %>
            </div>
        </div>
    </div>
</div>
<div class="item-management">
    <h2>Item Management</h2>
    <h3>Adding and managing items and photos is a breeze.</h3>
    <div class="left">
        <div class = "browser items">
            <div class="browser-top-bar">
                <div class="browser-circle"></div>
                <div class="browser-circle"></div>
                <div class="browser-circle"></div>
            </div>
            <div class="browser-content items"></div>
        </div>
    </div>
    <div class="right">
        <h4>Easily manage items</h4>
        <p>Your site's control panel gives you an easy to use interface to quickly add and manage the items that appear in your catalog. The application's control panel is web based and cloud hosted. This allows you to manage items from any computer with an internet connection without the need to install or maintain any software.</p>
        <hr/>
        <h4>Add item photos</h4>
        <p>Having photos in your catalog can dramatically increase customer visits. Adding photos can be done in a snap. Simply select a photo to upload and we will do the work of resizing and processing it for you.</p>
    </div>
</div>
<div class="featured-items">
    <div class="wrapper">
        <div class="paragraph left">
            <h4>Give items more exposure with featured items</h4>
            <p>Featured items help give your good deals and high demand items more exposure. Inside your control panel you can mark certain items as <em>featured</em> Featured items gain a place prominantly displayed when customers first visit your site.</p>
            <div class="icon"><%= icon('star') %></div>
        </div>
        <div class="paragraph right">
            <h4>Improve item browsing with related items</h4>
            <p>Getting customers to see the right items is half the battle. Related items have you covered. When your customers view an item, a list of additional related items is also displayed. We handle this for you automatically by displaying items from the same catagory and with the similar words. We also give priority to featured and more popular items.</p>
            <div class="icon"><%= icon('retweet') %></div>
        </div>
    </div>
</div>
<div class="templates">
    <h2>Launch Your Site</h2>
    <h3>Get setup in minutes by selecting a predesigned theme</h3>
    <div class="sections">
        <div class="row">
            <div class="section">
                <div class="icon"><%= icon('th fa-2x') %></div>
                <h4>Select a predesigned theme</h4>
                <p>Select a predesigned and coordinated theme and change the appearance of your site in moments.</p>
            </div>
            <div class="section">
                <div class="icon"><%= icon('edit fa-2x') %></div>
                <h4>Logo customization</h4>
                <p>Customize your site by adding your own logo.</p>
            </div>
            <div class="section">
                <div class="icon"><%= icon('eyedropper fa-2x') %></div>
                <h4>Color schemes</h4>
                <p>Select from precoordinated color schemes for any theme to further customize the appearance of your page and catalog.</p>
            </div>
        </div>
        <div class="row">
            <div class="section">
                <div class="icon"><%= icon('home fa-2x') %></div>
                <h4>Company website</h4>
                <p>You can use your hockd site as a full website for your shop. Your hockd page will display your companies phone number and address, so it can easily be used as a full website. You can even attach a custom domain name to your page.</p>
            </div>
            <div class="section">
                <div class="icon"><%= icon('link fa-2x') %></div>
                <h4>Link from your site</h4>
                <p>Already have a website? You can also just link to your hockd page from your existing website.</p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-inner">
        <span> &copy; 2014 All rights reserved. </span> <span>hockd is powered by <strong>5Sigma</strong></span>
    </div>
</div>
