<div class="billing-form">
    <div class="logo"><%= link_to 'hockd', homepage_landing_path %> </div>
    <div class="full-page-form">
        <h3>Plan Details</h3>
        <div class="details">
            <div class="label">Plan name</div> <div class="value">hockd basic</div>
        </div>
        <div class="details">
            <div class="label">Monthly subscription </div> <div class="value">$59.00</div>
        </div>
        <p>Your subscription includes full use of the service. Your account will be charged a subscription fee of <strong>$59.00</strong> per month.
        <hr/>
        <h3>Billing Details</h3>
        <div class="stripe-error"></div>
        <%= form_tag homepage_billing_path, id: 'card-form' do %>
            <%= hidden_field_tag :stripe_token %>
            <div class="input">
                <label>Card number</label> <input type="text" id="card-number"/>
            </div>
            <div class="card-exp-cvc">
                <div class="input">
                    <label>Exp Month</label>
                    <%= select_month Time.current, {use_month_numbers: true, use_two_digit_numbers: true}, id: 'card-exp-month' %>
                </div>
                <div class="input">
                    <label>Exp Year</label>
                    <%= select_year Time.current, {start_year: Time.current.year}, id: 'card-exp-year' %>
                </div>
                <div class="input">
                    <label>CVC Code</label>
                    <input type="text" id="card-cvc"/>
                </div>
            </div>
            <div class="hint">
                The CVC code is your card's security code. Generally this is the three digit code on the back of the card.
            </div>
            <div class="form-actions">
                <button type="submit" class="new-card-button">Finish Signup</button>
            </div>
        <% end %>
    </div>
</div>
