<div class="signup-form">
    <div class="logo"><%= link_to 'hockd', homepage_landing_path %></div>
    <div class="form full-page-form">
        <h3>Account Signup</h3>
        <%= simple_form_for @instance, url: homepage_signup_path do |instance_form| %>
            <%= simple_fields_for @user do |user_form| %>
                <fieldset>
                    <legend>User information</legend>
                    <div class="name">
                        <%= user_form.input :first_name %>
                        <%= user_form.input :last_name %>
                    </div>
                    <%= user_form.fields_for :phone_number do |phone_number_form| %>
                        <%= phone_number_form.input :number, label: 'Phone number', hint: 'This phone number will not be shared and will only be used if we need to contact you.' %>
                    <% end %>
                    <%= user_form.fields_for :email do |email_form| %>
                        <%= email_form.input :address, label: 'Email address', hint: 'This email address will only be used to send you notifications about your account, retrieve your password, and login. It will never be shared.' %>
                    <% end %>
                    <div class="password">
                        <%= user_form.input :password, hint: 'Passwords should be greater than 5 characters' %>
                        <%= user_form.input :password_confirmation , hint: 'Retype password to confirm.' %>
                    </div>
                </fieldset>
            <% end %>
            <fieldset>
                <legend>Company information</legend>
                <%= instance_form.fields_for :company do |company_form| %>
                    <%= company_form.input :company_name %>
                    <%= company_form.fields_for :phone_number do |phone_number_form| %>
                        <%= phone_number_form.input :number, label: 'Phone Number' %>
                    <% end %>
                    <%= company_form.fields_for :location do |location_form| %>
                        <%= location_form.input :street_address %>
                        <div class="city-state-zip">
                            <%= location_form.input :city %>
                            <%= location_form.input :state, collection: us_states %>
                            <%= location_form.input :postal_code %>
                        </div>
                    <% end %>
                <% end %>
            </fieldset>
            <fieldset>
                <legend>Application information</legend>
                <%= instance_form.input :instance_name, label: 'Application name', hint: 'The application name is a unique name that identifies your application. This name should be a short name that reflects your business. Your custom url will be generated using this name. For instance if your company\'s is Pawn Palace, your application name could be pawnpalace. This would make your application accessible by customers at <strong>http://pawnpalace.hockd.com</strong>. <strong>NOTE: This value may not contain spaces or special characters.</strong>'.html_safe %>
            </fieldset>
            <div class="form-actions">
                <%= instance_form.submit 'Continue' %>
            </div>
        <% end %>
    </div>
</div>
