.account-form {
    .input {
        label {
            float: none;
            display: block;
        }
        input {
            width: 100%;
            display: block;
            float: none;
        }
        span.error { 
            display: block; 
            width: 100%;
            margin-left: 0px;
        }
    }
    .name-fields {
        @include outer-container;
        .input {
            @include span-columns(6);
        }
    }

    .city-state-zip{
        @include outer-container;
        .user_location_city {
            @include span-columns(6);
        }
        .user_location_state, .user_location_postal_code {
            @include span-columns(3);
        }
        .input {
            input {
                width: 100%;
            }
        }
    }
    .password-fields {
        @include outer-container;
        .input {
            @include span-columns(6);
            input {
                width: 100%;
            }
        }
    }
}
