@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
$base-background-color: #eee;
$base-accent-color: #3388bb;
$content-background-color: #ffffff;
$nav-background-color: #fcfcfc;
$content-border-radius: 8px;
$nav-width: 150px;
$content-width: 800px;
$toolbar-color: darken($nav-background-color, 5);
$header-color: $base-accent-color;


@mixin inset {
    box-shadow: inset 0 0 1px rgba(114,125,150,0.4),inset 0 1px 0 rgba(114,125,150,0.4),0 1px 0 rgba(255,255,255,0.7);
}


html {
    overflow-y: scroll;
}
body {
    background-color: $base-background-color;
}
.header {
    @include clearfix;
    .logo {
        a {
        margin-left: 50px;
        font-size: 2.5em;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        color: #444;
        float: left;
        }
    }
}
.nav {
    float: right;
    display: block;
    padding-right: 50px;
    ul {
        margin-top: 20px;
        li {
            display: inline-block;
            margin-left: 15px;
            a {
                display: inline-block;
                padding: 2px 10px;
                color: lighten($base-font-color, 20);
                font-size: 0.8em;
            }
            a.active {
                background-color: darken($base-background-color, 5);
                border-radius: 5px;
                -moz-box-shadow: inset 0 0 2px #888;
                -webkit-box-shadow: inset 0 0 2px #888;
                text-shadow: 0 1px 0 rgba(255,255,255,0.5);
                @include inset;
            }
            a:hover {
                color: #000;
            }
        }
        li.divider {
            border-right: 1px solid darken($base-background-color, 10);
        }
    }
}
.page-wrapper {
    @include outer-container;
    @include pad();
}
.content-panel {
    width: $nav-width + $content-width + 2;
    @include clearfix;
    border: 1px solid darken($base-background-color, 15);
    margin: auto auto;
    border-radius: $content-border-radius;
    @include border-top-radius(0px);
    box-shadow: 0 2px 4px darken($base-background-color, 10);
    background-color: $nav-background-color;
    div.panel-header {
        @include clearfix;
        height: 30px;
        margin: -0px -1px;
        @include border-top-radius(0px);
        @include linear-gradient(#eee, #fff);
        border: 1px solid darken($base-background-color, 15);
        border-top:none;
        text-transform: uppercase;
        font-size: 0.6em;
        .title {
            float: left;
            font-weight: bold;
            height: 30px;
            line-height: 30px;
            padding: 0px 20px;
            color: #888;
        }
        ul {
            float: right;
            li {
                display: inline;
                a {
                    @include transition(all, 0.5s);
                    display: inline-block;
                    border-left: 1px solid $base-border-color;
                    padding: 0px 5px;
                    height: 29px;
                    line-height: 30px;
                    color: #888;
                    font-weight: bold;
                    background: #fff;
                }
                a:hover {
                    color: #555;
                    background: #eee;
                }
            }
        }
    }
    .sidenav {
        background-color: $nav-background-color; 
        @include border-top-radius(0px);
        @include border-left-radius($content-border-radius);
        float: left;
        width: $nav-width;
        ul {
            li {
            }
            li.header {
                margin-top: 15px;
                color: darken($nav-background-color,20);
                font-weight: bold;
                text-transform: uppercase;
                padding: 3px 15px;
                font-size: 0.6em;
            }
            li {
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                a {
                    color: $base-font-color;
                    font-size: 0.8em;
                    display: block;
                    padding: 4px 20px;
                }
                a:hover {
                    background: darken($nav-background-color, 5);
                }
            }
            li.active {
                background: darken($nav-background-color, 5);
                border-top: 1px solid darken($nav-background-color, 10);
                border-bottom: 1px solid darken($nav-background-color, 10);
            }
        }
    }
    .content {
        width: $content-width;
        border-left: 1px solid darken($nav-background-color, 15);
        float: left;
        min-height: 400px;
        padding: 0px;
        @include border-right-radius($content-border-radius);
        background: $content-background-color;
        float: left;
        
        .container {
            padding: 15px;
        }
        .notice {
            background: #f9f9f9;
            font-size: 0.8em;
            border-radius: 5px;
            border: 1px solid darken($base-background-color, 10);
            width: 80%;
            margin: auto auto;
            padding: 8px 15px;
            margin-top: 15px;
            color: lighten($base-font-color,20);
        }
        .notice:before {
            font-weight: bold;
            content: 'notice: ';
            margin-right: 15px;
            font-variant: small-caps;
            color: #333;
        }

        .toolbar {
            @include clearfix;
            //@include linear-gradient($toolbar-color, lighten($toolbar-color, 10));
            background-color: $toolbar-color;

            border-bottom: 1px solid darken($toolbar-color, 10);
            font-size: 1em;
            ul {
                li {
                    display: inline-block;
                    padding: 4px;
                   a {
                       display: inline-block;
                       color: darken($toolbar-color,50);
                       font-size: 0.8em;
                       padding: 2px 8px;
                       @include transition(all, 0.5s);
                       border-radius: 6px;
                       i {
                           font-size: 1em;
                           line-height: 1.2em;
                           padding-right: 3px;
                           padding-left:3px;
                       }
                   }
                   a:hover {
                       background-color: darken($toolbar-color, 5);
                   }
                   a[data-method=delete]:hover {
                       background-color: #ffcccc;
                       border-color: white;
                   }
                   a.active {
                       @include inset;
                       background-color: darken($toolbar-color, 5);
                   }
                }
            }
            ul.right {
                float: right;
            }
            ul.left {
                float: left;
            }
        }
        h2,h3 {
            font-size: 1.2em;
            margin-left: 20px;
            color: lighten($base-font-color, 20);
            font-weight: lighter;
            margin-right: 20px;
            border-bottom: 1px solid lighten($base-font-color,70);
            margin-top: 25px;
            padding: 2px 5px;
        }
        h2 {
            padding: 2px 20px;
            margin-right: 0px;
            margin-left: 0px;
        }
        p {
            font-size: 0.8em;
            padding: 0px 15px;
            margin-top: 15px;
            margin-bottom: 20px;
        }
        .item-list {
            line-height: 1.5em;
            min-height: 400px;
            a {
                background-color: #fff;
                display: block;
                padding: 2px 15px;
                font-size: 0.8em;
                border-bottom: 1px solid $base-border-color; 
                span {
                    display: inline-block;
                    @include ellipsis;
                }
                span.glyphs {
                    width: 20px;
                    i.warning {
                        color: #bbbb00;
                    }
                    i.error {
                        color: #ff0000;
                    }
                }
                span.title {
                    color: $base-accent-color;
                    font-weight: bold;
                }
                span.description {
                    color: lighten($base-font-color,10);
                }
                span.arrow {
                    float: right;
                    color: $base-border-color;
                    padding-left: 15px;
                }
                span.right {
                    float: right;
                    color: lighten($base-font-color, 25);
                }
                &:hover {
                    background-color: darken($content-background-color,5);
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        .no-data {
            text-align: center;
            color: lighten($base-font-color, 20);
            font-size: 0.8em;
            margin-top: 15px;
            a {
                @include button(simple, $base-accent-color);
            }
        }
        .page-bar {
            @include clearfix;
            background: $toolbar-color;
            border-top: 1px solid $base-border-color;
            border-bottom: 1px solid $base-border-color;
            padding: 3px 15px;
            text-align: right;
            border-bottom-right-radius: $content-border-radius;
            div.page-details {
                float: left;
                font-size: 0.8em;
                padding: 1px 5px;
            }
            div.buttons {
                float :right;
                a {
                    @include transition(all, 0.5s);
                    font-size: 0.8em;
                    padding: 1px 5px;
                    display: inline-block;
                    border-radius: 3px;
                    color: #666;
                    font-weight: 600;
                    border: 1px solid transparent;
                }
                a:hover {
                    background: #fff;
                    border: 1px solid darken($toolbar-color, 20);
                    color: #333;
                }
                a.disabled, a.disabled:hover {
                    color: #999;
                    border: 1px solid transparent;
                    background: transparent;
                }
            }
        }
    }
}


form {
    margin-top: 15px;
    padding-bottom: 20px;
    p {
        padding: 5px 20px;
        font-size: 0.8em;
    }
    div.input {
        padding: 0px 15px 0px 15px;
        font-size: 0.8em;
        margin-top: 5px;
        @include clearfix;
        label {
            color: lighten($base-font-color,40);
            font-weight: lighter;
            float: left;
            display: block;
            width: 150px;

        }
        input, textarea, select {
            float: left;
            width: $content-width - 150px - 30px - 5px;
            border: 1px solid $base-border-color;
            box-shadow: inset 0 0 1px rgba(114,125,150,0.4),inset 0 1px 0 rgba(114,125,150,0.4),0 1px 0 rgba(255,255,255,0.7);
            border-radius: 5px;
            color: $base-font-color;
            background-color: #fff;
        }
        input[type=file] {
            box-shadow: none;
            border: none;
        }
        span.hint {
            color: lighten($base-font-color, 10);
            display: block;
            margin-bottom: 5px;
            margin-left: 170px;
        }
        span.error {
            margin-left: 170px;
            width: 100px;
            color: #660000;
        }
    }
    div.input.field_with_errors {
        margin-bottom: 15px;
        input {
            border-color: darken(#F5DADE, 20);
        }
    }
    div.input.required {
        label {
            font-weight: bold;
        }
    }
    div.form-actions {
        @include clearfix;
        margin-top: 15px;
        padding: 4px 15px;
        font-size: 0.8em;
        a.button {
            @include button(simple, #f0f0f0);
            line-height: 1.5;
            float: right;
            margin-right: 15px;
            padding: 5px 15px;
        }
        input[type=submit] {
            @include button(simple, #449ED4);
            float:right;
            line-height: 1.5;
            margin-right: 15px;
            padding: 5px 15px;
            margin-top:0px;
        } 
    }
}

.detail-list {
    padding: 0px 15px 0px 15px;
    margin-top: 15px;
    font-size: 0.8em;
    div {
        span.label {
            color: lighten($base-font-color, 40);
            display: inline-block;
            width: 150px;
            font-weight: lighter;
        }
        span.value {
            color: $base-font-color;
            display: inline-block;
            div.boolean-label {
            }
            div.boolean-label.true {
                color: #009900;
            }
            div.boolean-label.false {
                color: #990000;
            }
        }
    }
}

.photo-list {
    margin-top: 15px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 15px;
    @include outer-container();
    div.photo-wrapper {
        @include span-columns(3);
        @include omega(4n);
        margin-top: 10px;
        max-width: 110px;
        border: 1px solid $base-border-color;
        text-align: center;
        img {
            @include filter(grayscale(50%));
        }
        a.primary {
            i {
                color: #4774DE;
            }
        }
    }
}
.search-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
}
.search-box {
    z-index: 1000;
    background: lighten($toolbar-color,5);
    border: 1px solid $base-border-color;
    width: 300px;
    position: absolute;
    overflow:hidden;
    display: none;
    transform: scale(0.8,0.8);
    opacity: 0;
    box-shadow: 0 2px 4px darken($base-background-color, 20);
    form {
        padding: 5px;
        padding-top: 15px;
        margin: 0px;
        .input {
            padding: 0px;
            margin: 0px;
            @include outer-container;
            label {
                @include span-columns(3);
                font-size: 1em;
                color: lighten($base-font-color, 10);
                font-weight: lighter;
            }
            input[type=search] {
                @include span-columns(9);
                padding: 3px 0px;
                border-radius: 0px;
            }
        }
        .input.range {
            label, input[type=search] {
                display: inline-block;
                width: auto;
            }
            input[type=search] {
                width: 60px;
            }
            label:first-child {
                @include span-columns(3);
            }
        }
        .form-actions {
            padding-top: 10px;
            border-top: 1px solid $base-border-color;
            input[type=submit] {
                @include button;
                padding: 4px 10px;
                font-size: 0.8em;
            }
            a.close { 
                @include button(#fff);
                padding: 4px 10px;
                font-size: 0.8em;
                color: #333; 
            }
            a.close:hover {
                background-color: white;
            }
        }
    }
}

.stripe-error {
    color: #cc0000;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}
$cc-line-height: 24px;
.cc-info {
    @include clearfix;
    margin-top: 15px;
    padding: 10px 20px;
    .card-type {
        float: left;
        img {
            margin:0px;
            height: 24px;
        }
    }
    .card-number {
        float: left;
        font-size: 12px;
        line-height: 24px;
        height: 24px;
        max-height: 24px;
        padding: 0px 25px;
        color: $base-font-color;
    }
    .card-expiration {
        float: left;
        height: 24px;
        line-height: 24px;
        font-size: 0.8em;
        padding: 0px 25px;
    }
    .buttons {
        float:right;
        height: 24px;
        line-height: 24px;
        a {
            @include button(simple, #fff);
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            padding: 0px 5px;
            display: inline-block;
            padding: 0px 25px;
        }
    }
}

.btn {
    @include button(simple, $base-accent-color);
    font-size: 0.8em;
    padding: 5px 10px;
}

table {
    margin: auto auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 90%;
    thead {
        tr {
            th {
                font-weight: bold;
                font-size: 0.7em;
                padding-bottom:0px;
                @include linear-gradient(#f5f5f5, #f0f0f0);
                padding: 4px 10px;
                text-transform: uppercase;
                border-right: 1px solid #ccc;
                border-top: 1px solid $base-border-color;
                border-bottom: 1px solid $base-border-color;
                color: #666;
            }
            th:last-child {
            }
            th:first-child {
                border-left: 1px solid #ccc;
            }

        }
    }
    tbody {
        tr {
            td {
                font-size: 1em;
                white-space:nowrap;
                padding: 4px 15px;
            }
        }
        tr:last-child {
            td {
                border-bottom: none;
            }
        }
    }
}
.footer {
    color: #888;
    font-size: 0.8em;
    margin-top: 15px;
    text-align: center;
    strong {
        color: #555;
    }
}
