.cancel-account-button-container {
    text-align: center;
    margin-top: 50px;
    a {
        @include button(simple, #ff0000);
    }
}
.cancel-form {
    margin-top: 30px;
    label {
        font-weight: normal;
        color: #666;
        font-size: 0.8em;
    }
    input[type=submit] {
        @include button(simple, #ff0000);
    }

}
