.help-page {
    .header {
        .logo {
            position: fixed;
            a {
                color: #161616;
            }
        }
    }
}
.help-panel {
    position: relative;
    margin-top: 10px;
    .left-menu {
        position: fixed;
        margin-top: 10px;
        width: 200px;
        @include border-left-radius(5px);
        background-color: lighten(#EDF6FC,2);
        background-color: #252525;
        -moz-box-shadow: 0 0 2px #999;
        -webkit-box-shadow: 0 0 2px #999;
        box-shadow: 0 0 2px #999;
        .menu-inner {
            min-height: 600px;
            ul {
                li.spacer {
                    height: 30px;
                }
                li {
                    a {
                        display: block;
                        padding: 5px 15px;
                        color: #fff;
                        font-size: 0.8em;
                        line-height: 1;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
                li.active {
                    a {
                        @include linear-gradient($base-accent-color, darken($base-accent-color, 10));
                        color: white;
                        font-weight: bold;
                    }
                }
                li.header {
                    //text-shadow: rgba(255, 255, 255, 0.65098) 0px 1px 0px;
                    font-size: 0.6em;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #999;
                    padding: 2px 10px;
                    margin-bottom: 5px;
                    margin-top: 30px;
                    line-height: 1;
                    padding-bottom: 0px;

                }
                li.divider {
                    border-bottom: 1px solid #333; 
                    height: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .article-wrapper {
        position: relative;
        margin-left: 190px;
        .article {
            border-radius: 5px;
            background-color: #fff;
            -moz-box-shadow: 0 0 2px #999;
            -webkit-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 1px 1px rgba(80,84,92,0.1),0 1px 2px rgba(80,84,92,0.5);
            border: 1px solid $base-border-color;
            .title {
                @include border-top-radius(5px);
                background-color: white;
                border-bottom: 1px solid #ccc;
                padding: 22px 45px;
                font-weight: bold;
                font-size: 1.3em;
            }
            .body {
                @include border-bottom-radius(5px);
                background-color: #fcfcfc;
                min-height: 800px;
                padding: 25px;
                font-size: 0.9em;
                h1 {
                    font-size: 1.1em;
                    font-weight: bold;
                    margin-bottom: 10px;
                    margin-top: 30px;
                }
                p {
                    margin-bottom: 10px;
                    .inline-note {
                        display: inline-block;
                        margin-left: 10px;
                        margin-top: 20px;
                        margin-bottom: 30px;
                        float: right;
                        padding: 5px 15px;
                        border-radius: 5px;
                        border: 1px solid #999; 
                        background-color: #fcfcfc;
                        color: #333;
                        width: 250px;
                    }
                }
                .question-form {
                    background: #fff;
                    border: 1px solid $base-border-color;
                    border-radius: 5px;
                    width: 500px;
                    margin: auto auto;
                    margin-top: 55px;
                    h1 {
                        text-align: right;
                        margin-right: 20px;
                        color: #999;
                        text-transform: uppercase;
                        font-size: 0.8em;
                        margin-top: 10px;
                    }
                    form {
                        .input {
                            input, textarea {
                                width: 100%;
                            }
                            textarea {
                                height: 200px;
                            }
                        }
                    }
                }
                ul {
                    list-style-type: square;
                    margin-left: 40px;
                    li {
                    }
                }
            }
        }
    }
}

.footer {
    color: #888;
    font-size: 0.8em;
    text-align: center;
    padding: 5px 15px;
}
