.item-properties {
    @include pad;
    .property {
        @include outer-container;
        input {
            @include span-columns(6);
            padding: 2px 5px;
            font-size: 0.8em;
            margin-top: 2px;
            margin-bottom: 2px;
            font-weight: normal;
        }
    }
}
