
.header.landing {
    width: 600px;
    margin: auto auto;
    margin-top: 100px;
}
.landing-content {
    border: 1px solid darken($base-background-color, 15);
    width: 600px; 
    margin: auto auto;
    border-radius: $content-border-radius;
    box-shadow: 0 2px 4px darken($base-background-color, 10);
    background-color: $nav-background-color;
    padding-top: 30px;
    h1,h2,h3 {
        padding: 0px 15px;
        font-size: 1.3em;
        margin-bottom: 15px;
        line-height:1;
        padding-bottom: 0px;
        font-family: 'Roboto-Condensed', sans-serif;
    }
    p {
        padding: 0px 15px;
        font-size: 0.8em;
        a {
            font-weight: bold;
        }
    }
}
.landing-buttons {
    border-top: 1px solid $base-border-color;
    background: #f5f5f5;
    @include border-bottom-radius($content-border-radius);
    margin: auto auto;
    text-align: right;
    padding: 10px 15px;
    a {
        @include button(simple);
    }

}
