
.theme-selector {
    @include outer-container;
    @include pad;
    margin: auto auto;
    .theme {
        label { margin-bottom: 0px; }
        @include span-columns(3);
        @include omega(4n);
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 170px;
        .title {
            text-align: center;
            text-transform: uppercase;
            font-size: 0.8em;
            color: #999;
            font-weight: bold;
        }
        .theme-preview {
            border-bottom: 1px solid #333;
        }
        .schemes {
            background: #eee;
            .scheme {
                border-bottom: 1px solid #ccc;
                padding: 5px;
                border-top: 1px solid #fff;
                display: table;
                input {
                    display: inline;
                    width: 20px;
                }
                span {
                    display: table-cell;
                    width: 45px;
                    height: 30px;
                }
                span.red { background-color: #660000; }
                span.black { background-color: #000; }
                span.white { background-color: #fff; }
                span.blue { background-color: $base-accent-color; }
                span.darkgrey { background-color: #454545; }
                span.darkblue { background-color: #221059; }
                span.purple { background-color: #9448E0; }
                span.orange { background-color: #D4A959; }
            }
        }
        .radio {
            background-color: #f5f5f5;
            border-top: 1px solid #f0f0f0;
            @include border-bottom-radius(4px);
            text-align:center;
            input {
            } 
        }
    }
}
.scheme-selector {
    @include outer-container;
    @include pad;
    margin: auto auto;
    .scheme {
        @include span-columns(3);
        @include omega(4n);
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 150px;
        label { margin-bottom: 0px; }
        .title {
            text-align: center;
            text-transform: uppercase;
            font-size: 0.8em;
            color: #999;
            font-weight: bold;
            border-bottom: 1px solid #ccc;
        }
        .schemes {
        }
        .radio {
            background-color: #f5f5f5;
            border-top: 1px solid #f0f0f0;
            @include border-bottom-radius(4px);
            text-align:center;
            input {
            } 
        }
    }
}
