<div class="toolbar">
    <ul class="left">
        <li><%= link_to icon('search', 'Search'), '', data: {searchbox: true} %></li>
    </ul>
    <ul class="right">
        <li><%= link_to icon('plus', 'New Category'), new_inventory_item_category_path  %></li>
    </ul>
</div>
<div class="search-box">
    <%= search_form_for [:inventory, @q] do |f| %>
        <div class="input">
            <%= f.label :name_cont, 'Name' %>
            <%= f.search_field :name_cont %>
        </div>
        <div class="form-actions">
            <%= link_to 'Close', '', class: 'close' %>
            <%= f.submit %>
        </div>
    <% end %>
</div>
<div class="item-list">
    <% @item_categories.each do |category| %>
        <%= link_to inventory_item_category_path(category) do %>
            <span class="glyphs">
                <% if category.item_sub_categories.count == 0 %>
                    <%= icon('exclamation-circle',nil, class: 'error') %>
                <% elsif category.items.count == 0 %>
                    <%= icon('exclamation-circle',nil, class: 'warning') %>
                <% end %>
            </span>
            <span class="title"><%= category.name %></span>
            <span class="arrow"><%= icon('chevron-right') %></span>
        <% end %>
    <% end %>
</div>

