<div class="toolbar">
    <ul class="right">
        <li><%= link_to icon('edit', 'Edit Details'), edit_inventory_item_category_path(@item_category) %></li>
        <li><%= link_to icon('plus', 'New Sub-category'), new_inventory_item_category_item_sub_category_path(@item_category) %></li>
        <li><%= link_to icon('trash-o', 'Delete Category'), inventory_item_category_path(@item_category), data:{method: 'delete', confirm: "This will permantly delete the category '#{@item_category.name}', all of its sub-categories, and all items associated with them. Are you sure?"} %></li>
    </ul>
</div>
<h3>Categroy Details</h3>
<div class="detail-list">
    <%= detail_item 'Name', @item_category.name %>
    <%= detail_item 'Created on', @item_category.created_at.to_s(:short) %>
    <%= detail_item 'Items', "#{@item_category.items.count} items" %>
    <%= detail_item 'Last updated', "#{time_ago_in_words @item_category.updated_at} ago" %>
</div>
<h2>Sub-categories</h2>
<% if @item_category.item_sub_categories.count > 0 %>
    <div class="item-list">
        <% @item_category.item_sub_categories.each do |sub_category| %>
            <%= link_to inventory_item_category_item_sub_category_path(@item_category,sub_category) do %>
                <span class="title"><%= sub_category.name %></span>
                <span class="arrow"><%= icon('chevron-right') %></span>
            <% end %>
        <% end %>
    </div>
<% else %>
    <div class="no-data">
        <p>There are no subcategories for this category.</p>
        <%= link_to 'New Sub-category', new_inventory_item_category_item_sub_category_path(@item_category) %>
    </div>
<% end %>

