<%= @user %>,
<br/>
<p>You have requested to reset your password. To enter a new password please click the link below:</p>
<%= link_to nil, homepage_reset_password_url(@user.password_recovery_token, host: 'hockd.com') %>
