<%= @user %>,
<br/>
<p>Thank you for choosing hockd. Your account is now setup and ready to go. For information on what to do next check out <%= mail_link 'Getting Started Guide', help_article_path('getting_started') %>.<br/>
<div align="center" style="text-align:center">
    <%= button 'Login', 'http://www.hockd.com/signin' %>
</div>

  

