@import "font-awesome-sprockets";
@import "font-awesome";
@import "bourbon";
@import "base/base";
@import "neat";

$header-color: #252525;
$base-font-color: #252525;
$header-text-shadow: none; 
$hr-color: #eee;

$base-background-color: #fcfcfc;

$navigation-color: #161616;
$navigation-hover-background: #e0e0e0;
$navigation-top-seperator-color: #161616;


$map-border-color: #fff;

@import "header"; 
@import "landing";
@import "core";
