@import "font-awesome-sprockets";
@import "font-awesome";
@import "bourbon";
@import "base/base";
@import "neat";

$header-color: darken(#D4A959, 10);
$header-text-shadow: 1px 1px #555;
$base-font-color: #252525;

$hr-color: #eee;

$base-background-color: lighten(#F5ECDC,6);

$navigation-color: #161616;
$navigation-hover-background: #e0e0e0;
$navigation-top-seperator-color: #161616;

$base-accent-color: #D4A959;


$map-border-color: #fff;

@import "header"; 
@import "landing";
@import "core";
