@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

$inset-color: #ccc;

@mixin inset {
    box-shadow: inset 0 0 1px $inset-color, inset 0 1px 0 $inset-color, 0 1px 0 $inset-color;
}

html {
    overflow-y: scroll;
}
body {
    min-width: 1000px;
    padding-top: 0px;
    margin-top:0px;
    background: $base-background-color;
    padding-bottom: 40px;
}

hr {
    border-color: $hr-color;
}


.container {
    @include outer-container;
    width: 1000px;
}

.no-items {
    margin-top: 30px;
    p {
        font-weight: bold;
        text-align: center;
    }
    p.muted {
        color: lighten($base-font-color,40);
        font-size: 0.8em;
    }
}

.navigation {
    margin-bottom: 20px;
    border-top: 2px solid $navigation-top-seperator-color;
    padding-top: 15px;
    .navigation-wrapper {
        .nav {
            margin-left: 20px;
            .menu {
                ul {
                    li {
                        @include inline-block;
                        a {
                            @include transition(all, .5s);
                            color: $navigation-color;
                            padding: 8px 15px;
                            border-radius: 4px;
                        }
                        a:hover {
                            background: $navigation-hover-background; 
                        }
                    }
                    li.title {
                        font-weight: bold;
                        color: lighten($navigation-color, 50);
                    }
                }
            }
        }
    }
}

h3 {
    font-size: 1.3em;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid $base-border-color;
    small {
        font-size: 0.8em;
        color: lighten($base-font-color, 40);
        margin-left: 20px;
    }
}

.categories {
    h3 {
    }
    h3:after {
        content: 'Shop by category';
        color: lighten($base-font-color, 40);
        margin-left: 20px;
        font-size: 0.8em;
        padding-bottom: 4px; 

    }
    .categories-inner {
        font-size: 0.8em;
        margin-top: -20px;
        .wrapper {
            @include outer-container;
            .category {
                margin-top: 20px;
                @include span-columns(3);
                @include omega(4n);
                h4 {
                    font-family: 'Roboto Condensed', sans-serif;
                }
                ul {
                    li {
                        a {
                            color: lighten($base-font-color,40);
                        }
                        a:hover {
                            color: $base-font-color;
                        }
                    }
                }
            }
        }
    }
}

.item-view {
    @include outer-container;
    margin-top: 40px;
    background: white;
    border: 1px solid $base-border-color;
    padding: 15px;
    .image-browser {
        @include span-columns(6);
        .image-container {
            img {
            }
        }
        .images {
            img {
                border: 1px solid $base-border-color;
                cursor: pointer;
            }
        }
    }
    .item-information {
        @include span-columns(6);
        .title {
            h2 {
                font-family: 'Roboto Condensed', sans-serif;
            }
            margin-bottom: 20px;
        }
        .details {
            .detail-line {
                font-size: 0.8em;
                .label {
                    display: table-cell;
                    width: 150px;
                    color: lighten($base-font-color,40);
                    font-weight: bold;
                }
                .value {
                    display: table-cell;
                }
            }
        }
        .price {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 2em;
            font-weight: bold;
            text-align: right;
            padding-right: 30px;
        }
    }
}

.related-items {
    h3 {
        font-family: 'Roboto Condensed', sans-serif;
    }
    h3:after {
        font-family: 'Roboto Condensed', sans-serif;
        content: 'Some other items you may be interested in';
        margin-left: 20px;
        color: lighten($base-font-color,40);

    }
    .items {
        @include outer-container;
        .item {
            @include span-columns(3);
            @include omega(4n);
            border-right: 1px solid $base-border-color;
            padding: 0px 15px;
            .photo {
                text-align: center;
                a {
                    img {
                        border: 1px solid $base-border-color;
                    }
                }
            }
            .details {
                .title {
                    a {
                        font-family: 'Roboto Condensed', sans-serif;
                        font-weight: bold;
                        color: $base-font-color;
                    }
                    a:hover {
                        color: $base-accent-color;
                    }
                }
                .description {
                    font-size: 0.8em;
                }
            }
            .price {
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: bold;
                text-align: right;
                small {
                    display: none;
                }
                a {
                    display: none;
                }
            }
        }
        .item:last-child {
            border-right: none;
        }
    }
}
.items-grid {
    @include outer-container;
    .breadcrumb {
        @include clearfix;
        margin-top: 40px;
        background: darken($base-background-color, 5);
        border-top: 1px solid white;
        border-bottom: 1px solid darken($base-background-color, 10);
        text-transform: uppercase;
        a {
            float: left;
            @include inline-block;
            padding: 5px 15px;
            color: lighten($base-font-color, 40);
            font-family: 'Roboto Condensed', sans-serif;
        }
        a:hover {
            color: #000;
        }
        div.active {
            float:left;
            @include inline-block;
            color: $base-font-color;
            font-family: 'Roboto Condensed', sans-serif;
            padding: 5px 15px;
        }
        div.tools {
            float: right;
            a.active {
                color: $base-accent-color;
            }
        }
    }
    .filters {
        @include span-columns(3);
        .filter-list {
            h3 {
                border-bottom: none;
                color: lighten($base-font-color,40);
                margin-bottom: 0px;
                font-size: 0.8em;
            }
            ul {
                li {
                    a {
                        @include inline-block;
                        color: $base-font-color;
                        font-size: 0.8em;
                        padding: 3px 15px;
                        min-width: 150px;
                        font-weight: bold;

                    }
                    &.active {
                        a {
                            border-radius: 3px;
                            background-color: $base-accent-color;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .item-list {
        @include span-columns(9);
    }
    .item-list.full {
        @include span-columns(12);
        float: none;
        display: block;
    }
    .item-list.list {
        .items {
            .item {
                @include outer-container;
                margin-top: 20px;
                border-bottom: 1px solid $base-border-color;
                padding-bottom: 20px;

                .photo {
                    @include span-columns(3);
                    text-align: center;
                }
                .details {
                    @include span-columns(7);
                    .title {
                        a {
                            font-family: 'Roboto Condensed', sans-serif;
                            color: $base-font-color;
                            font-weight: bold;
                            font-size: 1.2em;
                        }
                        a:hover {
                            color: $base-accent-color;
                        }
                    }
                }
                .price {
                    @include span-columns(2);
                    font-family: 'Roboto Condensed', sans-serif;
                    color: $base-font-color;
                    font-weight: bold;
                    font-size: 1.2em;
                    text-align: center;
                    span {
                        display: block;
                    }
                    small {
                        display: none;
                    }
                    a {
                        display: none;
                    }
                }
            }
            .item-row:last-child {
                .item:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    .item-list.grid {
        .items {
            margin-top: 30px;
            .item-row {
                @include outer-container;
                padding-bottom: 25px;
                border-bottom: 1px solid $base-border-color;
                .item {
                    margin-top: 20px;
                    @include span-columns(3);
                    @include omega(4n);
                    .photo {
                        text-align: center;
                    }
                    .details {
                        .title {
                            text-align: center;
                            a {
                                font-family: 'Roboto Condensed', sans-serif;
                                color: $base-font-color;
                                font-weight: bold;
                                font-size: 1.2em;
                            }
                            a:hover {
                                color: $base-accent-color;
                            }
                        }
                        .description {
                            display: none;
                        }
                    }
                    .price {
                        font-family: 'Roboto Condensed', sans-serif;
                        color: $base-font-color;
                        font-weight: bold;
                        font-size: 1.0em;
                        text-align: center;
                        color: lighten($base-font-color, 30);
                        span {
                            display: block;
                        }
                        small {
                            display: none;
                        }
                        a {
                            display: none;
                        }
                    }
                }
            }
            .item-row:last-child {
                border-bottom: none;
            }
        }
    }
}
.category-browser .items-grid .body .item-list {
    @include span-columns(9);
}

.page-bar {
    @include clearfix;
    margin-top: 30px;
    padding: 10px 50px;
    border-top: 1px solid white;
    border-bottom: 1px solid $base-border-color;
    background-color: darken($base-background-color,3);

    span {
        a {
            @include button(simple, $base-background-color);
            padding: 5px 10px;
            font-size: 0.8em;
        }
    }
    span.prev {
        float: left;
    }
    span.next {
        float: right;
    }
}
.footer {
    margin-top: 40px;
    padding-top: 15px;
    text-align: right;
    font-size: 0.8em;
    color: transparentize($base-font-color, 0.5);
    a {
        color: $base-font-color;
    }
}
