.header {
    @include outer-container;
    img {
        display: block;
    }
    .search {
        @include span-columns(6);
        input {
            margin-top:0px;
            margin-bottom: 0px;
            display: inline-block;
            width: 300px;
            padding: 5px 0px;
        }
        button {
            margin-top:0px;
            margin-bottom: 0px;
            
        }

    }
    .logo {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2em;
        line-height: 1em;
        a {
            font-weight: 700;
            text-shadow: $header-text-shadow;
            letter-spacing: -1px;
            color: $header-color;
        }
    }
    .contact {
        font-size: 0.8em;
        padding: 0px 20px;
        span {
            margin-left: 20px;
        }
    }
}

.item-search {
    .wrapper {
        @include outer-container;
        border: 1px solid $base-border-color;
        border-radius: 5px;
        @include linear-gradient($base-background-color, darken($base-background-color,10));
        padding: 5px 10px;
        input {
            @include span-columns(11);
            height: 40px;
            @include inline-block;
            margin-bottom: 0px;
            margin-top: 0px;
            padding: 0px;
        }
        button {
            @include span-columns(1);
            margin-top: 0px;
            margin-bottom: 0px;
            @include button(simple, #333);
            
        }
    }
}


