#map {
    border: 1px solid $map-border-color; 
}
.featured-large {
    @include outer-container;
    background: #fff;
    margin-top: 40px;
    border: 1px solid $base-border-color;
    .photo {
        @include span-columns(6);
        img {
            max-width: 450px;
            max-height: 500px;
        }
    }
    .details {
        @include span-columns(6);
        @include pad;
        .title {
            font-size: 1.8em;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: bold;
        }
        .description {

        }
        .button {
            margin-top: 15px;
            padding: 10px;
            text-align:center;
            a {
                @include button(simple, $base-accent-color);
            }
        }
    }

}
.company-details {
    display: none;
    @include outer-container;
    @include pad;
    //@include linear-gradient($base-accent-color, darken($base-accent-color, 20));
    color: #fff;
    font-size: 1em;
    margin-bottom: 25px;
    .company-info {
        @include span-columns(7);
        .company-name {

        }
        .address {
        }
        .phone {
        }
        .hours {
        }
    }
    .company-map {
        @include span-columns(5);
        opacity: 0.8;
    }
}

.featured-items {
    @include outer-container;
    .feature-column {
        @include span-columns(3);
        .featured-item {
            margin-top: 20px;
            a {
                display: block;
                margin: auto auto;
                width: 200px;
                border: 1px solid $base-border-color;
                .image {
                    text-align: center;
                    border-bottom: 1px solid $base-border-color; 
                    img {
                    }
                }
                .details {
                    text-align: left;
                    padding: 5px 15px;
                    background: #fff;
                    .title {
                        @include transition(all,.5s);
                        color: #333;
                        font-family: 'Roboto Condensed', sans-serif;
                        font-size: 16px;
                        font-weight: 600;

                    }
                    .price {
                        color: #000;
                        font-family: 'Roboto Condensed', sans-serif;
                        font-size: 14px;
                        height: 32px;
                        line-height: 20px;
                    }
                    .description {
                        display: none;
                    }
                }
            }
            a:hover {
                .details {
                    .title {
                        color: $base-accent-color;
                    }
                }
            }
        }
    }
}
