@import "font-awesome-sprockets";
@import "font-awesome";
@import "bourbon";
@import "base/base";
@import "neat";

$header-color: darken(#cc0000, 10);
//$header-text-shadow: 1px 1px #555;
$header-text-shadow: none;
$base-font-color: #252525;

$hr-color: #880000;

$base-background-color: #f5f5f5; 

$navigation-color: #161616;
$navigation-hover-background: #e0e0e0;
$navigation-top-seperator-color: $hr-color; 

$base-accent-color: #ff0000;


$map-border-color: #fff;

@import "header"; 
@import "landing";
@import "core";
