<div class="navigation">
    <div class="navigation-wrapper">
        <div class="nav">
            <% if current_instance.item_categories.count > 0 %>
            <div class="menu">
                <ul>
                    <li class="title">Browse items in:</li>
                    <% current_instance.item_categories.popular.limit(6).each do |category| %>
                        <li><%= link_to category, browser_category_path(category) %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        </div>
    </div>
</div>
