<div class="item-search">
    <%= search_form_for @item_search || Item.search, url: browser_search_path do |f| %>
        <div class="wrapper">
            <%= f.search_field :title_cont, placeholder: 'Find an item...' %>
            <button type="submit"><%= icon('search') %></button>
        </div>
    <% end %>
</div>
