
<!DOCTYPE html>
<html>
    <head>
        <title><%= browser_page_title %></title>
        <%= stylesheet_link_tag "browser/themes/#{current_instance.apperance_setting.theme_name}/#{current_instance.apperance_setting.scheme_name}", media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
        <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
        <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <% if current_instance.apperance_setting.has_logo? %>
                    <% if current_instance.apperance_setting.full_size_logo %>
                        <%= link_to browser_landing_path do %>
                            <%= image_tag current_instance.apperance_setting.logo_image.url(:full),
                                size: current_instance.apperance_setting.logo_image.image_size(:full),
                                alt: nil %>
                        <% end %>
                    <% else %>
                        <div class="logo">
                            <%= link_to browser_landing_path do %>
                                <%= image_tag current_instance.apperance_setting.logo_image.url(:logo) %>
                            <% end %>
                        </div>
                        <div class="contact">
                            <span><%= icon 'phone', number_to_phone(current_instance.company.phone_number.number) %></span>
                            <span><%= icon 'map-marker', current_instance.company.location.address %></span>
                        </div>
                    <% end %>
                <% else %>
                    <div class="logo"><%= link_to current_instance.company.company_name, browser_landing_path %></div>
                    <div class="contact">
                        <span><%= icon 'phone', number_to_phone(current_instance.company.phone_number.number) %></span>
                        <span><%= icon 'map-marker', current_instance.company.location.address %></span>
                    </div>
                <% end %>
            </div>
            <%= render 'browser/nav' %>
            <%= yield %>
            <div class="footer">
                Website powered by <%= link_to 'hockd', 'http://www.hockd.com' %>
            </div>
        </div>
    </body>
</html>
