<h2>Account cancelation</h2>
<div class="container">
    <p>
    <%= icon('frown-o pull-left', nil, style: 'font-size: 4em;color: #333') %>
    This will permenantly close your account. At the end of the current billing cycle your hockd pages will be unavailable. Are you sure you want to completely close your account? You may continue to use and login to your account until the end of the current billing cycle.
    </p>
    <div class="cancel-form">
    <%= form_tag inventory_cancel_account_path do %>
        <%= label_tag :reason, 'We would love to hear why your are choosing to close your account to help improve our service.' %>
        <%= text_area_tag :reason %>
        <%= submit_tag 'Close Account' %>
    <% end %>
</div>
