<%= form_tag inventory_new_card_path, id: 'card-form' do |f| %>
    <%= hidden_field_tag :stripe_token %>
<% end %>
<form>
    <div class="stripe-error">
    </div>
    <div class="input">
        <label for="card_number">Card number</label>
        <input type="text" id="card-number"/>
    </div>
    <div class="input">
        <label for="exp-month">Expiration</label>
        <div style="display: inline-block">
            <%= select_month Time.current, {use_month_numbers: true, use_two_digit_numbers: true}, id: 'card-exp-month', data: { width: 65 } %>
        </div>
        <div style="display: inline-block">
            <%= select_year Time.current, {start_year: Time.current.year}, id: 'card-exp-year', data: { width: 100 }  %>
        </div>
    </div>
    <div class="input">
        <label for="cvv2">CVV2</label>
        <input type="text" id="card-cvc" style="width: 100px;"/> 
    </div>
    <div class="form-actions">
        <input type="submit" value="Add Card" class="new-card-button"/>
    </div>
</form>
