<div class="toolbar">
    <ul class="left">
        <li><%= link_to icon('frown-o', 'Close Account'), inventory_cancel_account_path %></li>
    </ul>
    <ul class="right">
        <li><%= link_to icon('plus', 'Add Card'), inventory_new_card_path %></li>
    </ul>
</div>
<h3>Monthly Plan</h3>
<div class="detail-list">
    <% if current_instance.customer.subscriptions.count > 0 %>
        <%= detail_item 'Plan name', 'Some Plan' %>
        <%= detail_item 'Next billing cycle', Time.current %>
        <%= detail_item 'Plan cost', "#{number_to_currency(current_instance.customer.subscriptions.first.plan.amount / 100)} / month" %>
        <%= detail_item 'Current period', "#{Time.at(current_instance.customer.subscriptions.first.current_period_start).to_s(:short_date)} - #{Time.at(current_instance.customer.subscriptions.first.current_period_end).to_s(:short_date)}" %>
        <% if current_instance.customer.default_card %>
            <%= detail_item 'Primary card', "****#{current_instance.default_card.last4}" %>
        <% end %>
    <% else %>
        <p>No plan found</p>
    <% end %>
</div>

<h3>Payment Methods</h3>
<% if current_instance.customer.cards.count > 0 %> 
    <% current_instance.customer.cards.each do |card| %>
        <div class="cc-info">
            <div class="card-type"><%= image_tag "credit_cards/#{card.brand.underscore}.png" %></div>
            <div class="card-number"><%= "*" * 4 %><%= card.last4 %></div>
            <div class="card-expiration"><%= card.exp_month %>/<%= card.exp_year %></div>
            <div class="buttons">
                <%= link_to 'Make Primary', inventory_make_primary_card_path(card_token: card.id) %>
                <%= link_to icon('trash-o'), inventory_delete_card_path(card_token: card.id) %>
            </div>
        </div> 
    <% end %>
<% else %>
    <div class="no-data">
        <p>No billing information present.</p>
        <%= link_to 'Add Card', inventory_new_card_path  %>
    </div>
<% end %>
<h3>Payment History</h3>
<table>
    <thead>
        <tr>
            <th>Date</tH>
            <th>Paid</th>
            <th>Total</th>
            <th>Amount due</th>
        </tr>
    </thead>
    <tbody>
        <% Stripe::Invoice.all(customer: current_instance.customer.id, limit: 5).each do |invoice| %>
            <tr>
                <td><%= Time.at(invoice.date).to_s(:short_date) %></td>
                <td><%= (invoice.paid ? 'yes' : 'no') %></td>
                <td><%= number_to_currency(invoice.total / 100) %></td>
                <td><%= number_to_currency(invoice.amount_due / 100) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
