<h2>Thanks for choosing Hockd</h2>
<p>Your account is now setup and ready to go!. Before you get stareted you may want to read the <%= link_to 'Getting Started Guide', help_article_path('getting_started') %>, to get a better feel for how to set everything up. </p>
<p>Once inside the application you can view this gudie and other information from the <strong>Help</strong> menu at the top of the page. As always dont hesitate to contact us if you have any questions, suggestions, or problems.</p>

<% content_for :buttons do %>
    <%= link_to 'Continue', inventory_items_path %>
<% end %>
