<div class="categories">
    <h3>Categories</h3>
    <div class="categories-inner">
        <div class="wrapper">
            <% current_instance.item_categories.each do |item_category| %>
                <div class="category">
                    <h4><%= item_category.name %></h4>
                    <ul>
                        <% item_category.item_sub_categories.each do |sub_category| %>
                            <li><%= link_to sub_category.name, browser_category_path(item_category, sc: sub_category.id) %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        </div>
    </div>
</div>
