<div class="featured-item">
    <%= link_to [:browser, featured_item]  do %>
        <div class="image">
            <%= image_tag featured_item.primary_photo_url(:small), size: featured_item.primary_photo_size(:small) %>
        </div>
        <div class="details">
            <div class="title"><%= truncate(featured_item.title) %></div>
            <div class="description"><%= truncate(featured_item.description, length: 200) %></div>
            <div class="price"><%= number_to_currency featured_item.price %></div>
        </div>
    <% end %>
</div>
