<div class="navigation">
    <div class="navigation-wrapper">
        <% if current_instance.items.count > 0 %>
            <div class="nav">
                <div class="menu">
                    <ul>
                        <% current_instance.item_categories.popular.limit(8).each do |category| %>
                            <li><%= link_to category, browser_category_path(category) %></li>
                        <% end %>
                    </ul>
                </div>
                <div class="search">
                    <%= render 'browser/search' %>
                </div>
            </div>
        <% end %>
    </div>
</div>
