<div class="slide-search">
        <%= search_form_for @item_search || Item.search, url: browser_search_path do |f| %>
            <button type="button"><%= icon 'search' %></button>
            <div class="search-container">
                <%=  f.search_field :title_cont, placeholder: 'Find an item...' %>
            </div>
        <% end %>
</div>
