<div class="featured-large">
    <div class="photo">
        <%= image_tag @featured_items.first.primary_photo_url(:large), size: @featured_items.first.primary_photo_size(:large) %>
    </div>
    <div class="details">
        <div class="title"><%= @featured_items.first.title %></div>
        <div class="description"><%= truncate(@featured_items.first.description, length: 400).gsub(/\n/,'<br/>').html_safe %></div>
        <div class="button">
            <%= link_to 'View Details', [:browser, @featured_items.first] %>
        </div>
    </div>
</div>
<div class="company-details">
    <div class="company-info">
        <h3>Visit us</h3>
        <div class="address">
            <%= icon 'map-marker' %>
            <%= current_instance.company.location.address %>
        </div>
        <div class="phone">
            <%= icon 'phone' %>
            <%= number_to_phone current_instance.company.phone_number %>
        </div>
        <div class="hours">
            <div>Monday 11am - 5pm</div>
            <div>Tuesday 11am - 5pm</div>
            <div>Wednesday 11am - 5pm</div>
            <div>Thursday 11am - 5pm</div>
            <div>Saturday 11am - 5pm</div>
            <div>Sunday 11am - 5pm</div>
        </div>

    </div>
    <div class="company-map">
        <div id="map" style='width: 200px; height: 200px;'></div>
    </div>
</div>
<h3>Featured Items <small>Great deals you may be interested in</small></h3>
<div class="featured-items">
    <% @featured_items.in_groups(4).each do |items| %>
        <div class="feature-column">
            <% items.each do |item| %>
                <%= featured_item(item) if item %>
            <% end %>
        </div>
    <% end %>
</div>
<%= render 'browser/categories' %>
</div>
