.pitch {
    background: #fcfcfc;
    color: $base-font-color;
    padding: 0px 80px;
    padding-bottom: 50px;
    border-bottom: 1px solid #E6E6E6;
    .wrapper {
        @include outer-container;
        @include row(block);
        .price-section {
            @include media($large-screen){
                @include span-columns(4);
            }
            @include pad;
            padding-top: 30px;
            .price-box {
                border: 1px solid $base-border-color;
                @include border-top-radius(5px);
                @include border-bottom-radius(5px);
                box-shadow: 0 2px 4px darken($base-background-color, 10);
                .price {
                    @include linear-gradient($base-accent-color, darken($base-accent-color, 15));
                    @include border-bottom-radius(5px);
                    text-align: center;
                    font-size: 2em;
                    line-height: 1;
                    color: white;
                    padding: 10px;
                    text-shadow: 0 1px 0 #333;
                    font-family: 'Open Sans';
                    font-weight: 700;
                    border-top: 1px solid darken($base-accent-color, 10);
                    span {
                        display: block;
                        font-size: 0.5em;
                        text-shadow: none;
                        font-weight: normal;
                    }
                }
                .features {
                    padding: 15px;
                    font-size: 1em;
                    font-family: 'Roboto Condensed', sans-serif;
                    ul {
                        li {
                            margin-top: 10px;
                            i {
                                color: $base-accent-color;
                            }
                        }
                    }
                }

            }

        }
        .pitch-section {
            @include media($large-screen) {
                @include span-columns(8);
                border-left: 1px solid $base-border-color;
            }
            @include pad;
            h2 {
                text-align: center;
                margin-bottom: 15px;
            }
            p {
                text-align: justify;
            }
            .signup_button {
                margin-top: 40px;
                text-align: center;
                a {
                    @include button;
                }
            }
        }
    }
}

.item-management {
    @include outer-container;
    padding-top: 50px;
    h2 {
        text-align: center;
        margin-bottom: 15px;
    }
    p {
        text-align: justify;
    }
    .left { 
        @include media($large-screen) {
            @include span-columns(6);
        }
        @include media($medium-screen) {
            @include pad;
        }
    }
    .right {
        @include media($large-screen) {
            @include span-columns(6);
        }
        @include pad;
    }
    .browser {
        width: 100% !important;
        display: block !important;
        margin: auto auto;
        margin-top: 35px;
        .browser-content {
            border-top: 1px solid #999;
            height: 300px;
        }
    }
}
.featured-items {
    margin-top: 40px;
    border-top: 1px solid $base-border-color;
    border-bottom: 1px solid $base-border-color;
    .wrapper {
        @include row(table);
        .paragraph {
            @include media($large-screen) { @include span-columns(6); }
            @include pad;
            .icon {
                font-size: 5em;
                text-align: center;
                color: lighten($base-font-color, 20);
            }
        }
        .paragraph {
            p {
                min-height: 150px;
            }
        }
        .paragraph.left {
            background: lighten($base-background-color, 10);
            border-right: 1px solid $base-border-color;
        }
        .paragraph.right {
            background-color: #333;
            color: white;
            h4 {
                color: white;
            }
        }
        h2 {
            text-align: center;
            margin-bottom: 15px;
        }
        p {
            text-align: justify;
        }
    }
}

.templates {
    @include pad;
    margin-bottom: 0px;
    background-color: white;
    h2 {
        text-align: center;
        margin-bottom: 15px;
    }
    .sections {
        .row {
            .section {
                @include media($large-screen) {
                    @include span-columns(4);
                    border-right: 1px solid $base-border-color;
                }
                @include media($medium-screen-down) {
                    border-bottom: 1px solid $base-border-color;
                }
                @include pad;
                p {
                    text-align: justify;
                }
                .icon {
                    color: $base-accent-color;
                    margin-bottom: 10px;
                }
            }
            .section:last-child {
                border-right: none;
            }
        } 
        .row:first-child {
            @include media($large-screen) {
                border-bottom: 1px solid $base-border-color;
            }
        }
    }
}

.footer {
    background-color: #eee;
    border-top: 1px solid #ccc;
    .footer-inner {
        border-top: 1px solid white;
        padding: 5px 15px;
        color: lighten($base-font-color, 30);
        font-size: 0.7em;
        text-align: right;
        span {
            margin-left: 40px;
        }
    }
}

.browsers {
    .browser {
    }
}
