.full-page-form {
    background-color: $content-background-color;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid $base-border-color;
    font-size: 0.8em;
    box-shadow: 0 2px 4px darken($base-background-color, 10);
    h3 {
        text-align: right;
        color: lighten($base-font-color, 40);
    }
    .form-actions {
        @include clearfix;
        input,button {
            margin-top: 20px;
            float: right;
            @include button;
        }
    }
}
.signup-form {
    width: 800px;
    margin: auto auto;
    margin-top: 50px;
    margin-bottom: 30px;
    fieldset {
        @include outer-container;
        background-color: $content-background-color;
        border-right: none;
        border-left: none;
        border-bottom: none;
        border-top: none;
        legend {
            font-size: 1.5em;
        }
        .city-state-zip {
            .input {
                @include span-columns(4);
            }
        }
        .name, .password {
            .input {
                @include span-columns(6);
            }
        }
        .input {
            margin-bottom: 10px;
            input {
                margin-bottom: 0px;
            }
            span.hint {
                display: block;
            }
            span.error {
                color: #990000;
                display: inline-block;
                padding: 0px 15px;
            }
        }
    }
    .form-actions {
        input {
            @include button;
        }
    }
}

.billing-form {
    margin: auto auto;
    margin-top: 150px;
    width: 400px;
    h3 {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .stripe-error {
        color: #990000;
        font-weight: bold;
        text-align: center;
    }
    .details {
        @include row(table);
        .label, .value {
            @include span-columns(6)
        }
        .label {
            color: #666;
        }
        .value {
            font-weight: bold;
        }
    }
    p {
        margin-top: 15px;
        font-size: 0.8em;
    }
    .card-exp-cvc {
        @include outer-container;
        .input {
            @include span-columns(4);
            @include pad;
        }
        
    }
    .form-actions {
        button {
            width: 100%;
        }
    }
}
