.signin-form {
    p {
        text-align: center;
        color: #333;
        font-weight: bold;
    }
    .error {
        color: #990000;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    margin: auto auto;
    margin-top: 120px;
    width: 300px;
    .form-actions {
        input {
            @include button;
            width: 100%;
        }
    }
    .panel {
        margin-top: 25px;
        a {
            display: block;
            margin-top: 10px;
            color: lighten($base-font-color, 30);
            padding: 10px 15px;
            border: 1px solid $base-border-color;
            text-align: center;
            border-radius: 4px;
            font-weight: bold;
            font-size: 0.8em;
        }
        a:hover {
            background: lighten($base-background-color, 15);
        }
    }
    .button {
        @include button;
    }
}

