button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  user-select: none;
  vertical-align: middle;
  padding: 5px 15px;
  white-space: nowrap;
  cursor: pointer;
}
