<%= simple_form_for [:inventory, @item_category, @item_sub_category] do |f| %>
    <%= f.input :name %>
    <div class="form-actions">
        <%= f.submit %>
        <%= link_to 'Cancel', :back, class: 'button' %>
    </div>
<% end %>
