<div class="toolbar">
    <ul class="right">
        <li><%= link_to icon('edit', 'Edit Details'), edit_inventory_item_category_item_sub_category_path(@item_category,@item_sub_category) %>
        <li><%= link_to icon('trash-o', "Delete Category"), inventory_item_category_item_sub_category_path(@item_category,@item_sub_category), data: { method: 'delete', confirm: "This will delete the sub category '#{@item_sub_category.name}' and all associated items. This is not reversible. Are you sure?" } %></li>
    </ul>
</div>
<h3>Category Details</h3>
<div class="detail-list">
    <%= detail_item 'Parent Category', link_to(@item_sub_category.item_category.name, [:inventory, @item_sub_category.item_category]) %>
    <%= detail_item 'Name', @item_sub_category.name %>
    <%= detail_item 'Created on', @item_sub_category.created_at.to_s(:short) %>
    <%= detail_item 'Last updated on', @item_sub_category.updated_at.to_s(:short) %>
</div>
