// CONTENT
$muted-text-color: lighten($base-font-color, 40);
$hr-border-color: $base-border-color;
$inset-color: rgba(114,125,150,0.4);
$content-background-color: $base-background-color; 
$link-color: $base-accent-color;
$container-background: $base-background-color;

// HEADER
$header-contact-font-color: $base-font-color;

// CARDS
$card-border-color: $base-border-color;
$card-border: $base-border-color; 
$card-background: lighten($card-border-color, 10);
$card-header-background: $card-background;
$card-hover-background: lighten($card-background, 5);
$card-image-background: $base-background-color;
$card-image-hover-background: lighten($card-image-background, 5);
$card-stats-color: lighten($base-accent-color, 10);


// NAVIGATION
$navigation-height: 50px;
$navigation-background: darken($base-background-color, 20);
$navigation-background-hover: darken($navigation-background,20);
$navigation-font-color: darken($navigation-background, 30);
$navigation-font-weight: bold;

// PANELS
$panel-font-color: $base-font-color;
$panel-background-color: lighten($base-background-color, 30);
$panal-header-color: transparent;
$panel-header-text-transform: normal;
$panel-header-text-spacing: 0px;
$panel-header-font-size: 0.8em;
$panel-header-font-weight: bold;

// LOGO
$logo-color: $base-font-color;

// SEARCH
$search-color: #000;
$search-border-color: #888; 
$search-text-color: #161616;
$search-element-background: #eee; 

// RELATED ITEMS
$related-seperator-color: darken($content-background-color,10);
$related-title-color: $base-font-color;
$related-title-hover-color: $base-accent-color;
$related-price-color: $base-font-color;
$related-font-weight: normal;
$related-header-background: transparent;
$related-header-color: lighten($base-font-color,50);
$related-header-letter-spacing: $panel-header-text-spacing;
$related-header-text-transform: $panel-header-text-transform;
$related-header-font-size: $panel-header-font-size;

// CATEGORY BROWSER
$category-list-background: transparent; 
$category-header-background: transparent;
$category-list-header-font-color: $base-font-color;
$category-list-sub-category-color: lighten($base-font-color, 20);
$category-list-color: darken($base-font-color, 30);
$category-header-font-size: $panel-header-font-size;
$categories-hover: #000;


// BREAD CRUMB
$breadcrumb-border-color: $base-border-color;
$breadcrumb-border: 1px solid $breadcrumb-border-color;
$breadcrumb-height: $base-line-height * 1.5;
$breadcrumb-arrow-color: $breadcrumb-border-color;
$breadcrumb-background: lighten($base-background-color,10);
$breadcrumb-inactive-hover-color: darken($breadcrumb-background,5);
$breadcrumb-color: $medium-gray;
$breadcrumb-color-hover: $base-accent-color;
$breadcrumb-color-active: $breadcrumb-color;
$breadcrumb-accent-color: $base-font-color;
$breadcrumb-text-transform: none;
$breadcrumb-text-spacing: 0px;
$breadcrumb-font-size: $panel-header-font-size;
$breadcrumb-font-weight: $panel-header-font-weight;

// PAGE BAR
$page-bar-background-color: darken($content-background-color,6);
$page-bar-disabled-color: #666;



// ITEM - SHOW
$item-show-price-background: transparent;
$item-show-price-corner-radius: 0px;
$item-show-price-color: $base-font-color;
