<%= simple_form_for [:inventory, @item] do |f| %>
    <%= f.input :title %>
    <%= f.input :identifier, label: 'Identifier', hint: 'This value can be used to track the item. This could be a serial number, UPC, or other identifying number.' %>
    <%= f.input :description, input_html: {rows: 10} %>
    <%= f.input :price %>
    <div class="input">
        <label>Condition</label>
        <%= f.select :condition, options_for_select(item_conditions, @item.condition), {}, data: { width: 200 }  %>
    </div>
    <%= f.association :item_category, label: 'Category', input_html: { data: { width: 300 } } %>
    <div class="input">
        <%= f.label :item_sub_category, 'Subcategory' %>
        <%= f.hidden_field :item_sub_category_id %>
    </div>
    <div class="input">
        <%= f.label :featured %>
        <label class="label-switch">
            <%= check_box :item, :featured %>
            <div class="checkbox"></div>
        </label>
    </div>
    <h3>Item attributes</h3>
    <p>Item attributes allow you to add custom information to the item. These details will be displayed along with the title. They can be used to give quick information about the item, such as weight, size, brand, etc.</p>
    <div class="item-properties">
        <% if @item.properties %>
            <% @item.properties.each do |k,v| %>
                <div class="property">
                    <%= text_field_tag 'properties[][property_name]', k %>
                    <%= text_field_tag 'properties[][property_value]', v %>
                </div>
            <% end %>
            <% (10 - @item.properties.count).times do %>
                <div class="property">
                    <%= text_field_tag 'properties[][property_name]', nil, placeholder: 'Attribute name' %>
                    <%= text_field_tag 'properties[][property_value]', nil, placeholder: 'Attribute value' %>
                </div>
            <% end %>
        <% else %>
            <% (10).times do %>
                <div class="property">
                    <%= text_field_tag 'properties[][property_name]', nil, placeholder: 'Attribute name' %>
                    <%= text_field_tag 'properties[][property_value]', nil, placeholder: 'Attribute value' %>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="form-actions">
        <%= f.submit %>
        <%= link_to 'Cancel', :back, class: 'button' %>
    </div>
<% end %>

