<div class="toolbar">
    <ul class="left">
        <li><%= link_to icon('search', 'Search'), '', data: { searchbox: true } %></li>
    </ul>
    <ul class="right">
        <li><%= link_to icon('plus', 'New Item'), new_inventory_item_path %></li>
    </ul>
</div>
<div class="search-box">
    <%= search_form_for [:inventory, @search] do |f| %>
        <div class="input">
            <%= f.label :identifier_cont, 'Identifier' %>
            <%= f.search_field :identifier_cont %>
        </div>
        <div class="input">
            <%= f.label :title_cont, 'title' %>
            <%= f.search_field :title_cont %>
        </div>
        <div class="input range">
            <%= f.label :price_lt, 'Price from' %>
            <%= f.search_field :price_gt %>
            <%= f.label :price_lt, 'to' %>
            <%= f.search_field :price_lt %>
        </div>
        <div class="input">
            <%= f.label :item_category_id_eq, 'Category' %>
            <%= f.select :item_category_id_eq, 
                options_from_collection_for_select(current_instance.item_categories, :id, :name, @search.item_category_id_eq),  
                {include_blank: true}, 
                data: { width: 200 } %>
        </div>
        <div class="form-actions">
            <%= f.submit %>
            <%= link_to 'Close', '', class: 'close' %>
        </div>
    <% end %>
</div>
<div class="item-list">
    <% @items.each do |item| %>
        <%= link_to inventory_item_path(item) do %>
            <span class="title"><%= item.identifier %></span>
            <span class="description"><%= item.title %></span>
            <span class="arrow"><%= icon('chevron-right') %></span>
            <span class="right"><%= number_to_currency item.price %></span>
        <% end %>
    <% end %>
</div>

<%= paginate @items %>

