<div class="toolbar">
    <ul class="left">
    <li><%= link_to icon('eye', 'View Item Page'), browser_item_url(@item, subdomain: current_instance.instance_name)  %></li>
    </ul>
    <ul class="right">
        <li><%= link_to icon('trash-o', 'Delete item'), inventory_item_path(@item), data: {confirm: 'Are you sure you want to permanently delete this item?', method: 'delete'} %></li>
        <li><%= link_to icon('edit', 'Edit Details'), edit_inventory_item_path(@item) %></li>
        <li><%= link_to icon('camera', 'Add Photo'), new_inventory_item_item_photo_path(@item), data: { modal: true }  %></li>
    </ul>
</div>
<h3>Item Details</h3>
<div class="detail-list">
    <%= detail_item 'Identifier', @item.identifier %>
    <%= detail_item 'Title', @item.title %>
    <%= detail_item 'Price', number_to_currency(@item.price) %>
    <%= detail_item 'Featured', boolean_label(@item.featured) %>
    <%= detail_item 'Category', link_to(@item.category, [:inventory, @item.category]) %>
    <%= detail_item 'Subcategory', link_to(@item.item_sub_category, [:inventory, @item.category, @item.item_sub_category]) %>
    <%= detail_item 'View count', @item.view_count %>
    <% if @item.last_viewed_at %>
        <%= detail_item 'Last viewed', "#{time_ago_in_words(@item.last_viewed_at)} ago" %>
    <% end %>
    <%= detail_item 'Added on', @item.created_at.to_s(:short) %>
</div>

<h3>Item Photos</h3>
<% if @item.photos.count > 0 %>
<div class="photo-list">
    <% @item.photos.order(:created_at => :desc).each do |photo| %>
        <div class="photo-wrapper">
            <%= image_tag photo.image.url(:thumb) %>
            <div class="toolbar">
                <ul class="left">
                    <li><%= link_to icon('trash-o'), inventory_item_item_photo_path(@item, photo), data: { method: 'delete', confirm: 'Are you sure you want to permenantly remove this photo?'} %></li>
                </ul>
                <ul class="right">
                    <% if @item.primary_photo  == photo %> 
                        <li><%= link_to icon('star'), set_primary_inventory_item_item_photo_path(@item, photo), class: 'primary' %></li>
                    <% else %>
                        <li><%= link_to icon('star'), set_primary_inventory_item_item_photo_path(@item, photo) %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
</div>
<% else %>
    <div class="no-data">
        <p>This item has no photos attached to it.</p>
        <%= link_to 'Add Photo', new_inventory_item_item_photo_path(@item), data: {modal:true} %> 
    </div>
<% end %>
