<% content_for :title, 'Add Photo' %>
<p style="width: 300px;">
Select a photo to upload and display in the item's page. Item photos should be a jpeg or png file. The image should be around 500x500 pixels for best results.
</p>
<%= form_for @item_photo, url: inventory_item_item_photos_path(@item) do |f| %>
    <%= f.file_field :image, class: 'centered field' %>
    <div class="buttons">
        <%= f.submit 'Add' %>
    </div>
<% end %>
