<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= simple_form_for current_instance.apperance_setting, url: inventory_apperance_settings_path do |f| %>
    <h3>Themes</h3>
    <div class="theme-selector">
        <div class="theme">
            <%= label_tag "apperance_setting_theme_name_hydrogen" do %>
                <div class="theme-preview">
                    <%= image_tag 'themes/hydrogen.png' %>
                </div>
            <% end %>
            <div class="schemes">
                <div class="scheme">
                    <%= f.radio_button :scheme_name, 'black', class: 'scheme-radio' %> 
                    <span class="black"></span>
                    <span class="white"></span>
                    <span class="white"></span>
                    <span class="blue"></span>
                </div>
                <div class="scheme">
                    <%= f.radio_button :scheme_name, 'cinder', class: 'scheme-radio' %> 
                    <span class="red"></span>
                    <span class="black"></span>
                    <span class="darkgrey"></span>
                    <span class="black"></span>
                </div>
                <div class="scheme">
                    <%= f.radio_button :scheme_name, 'nova', class: 'scheme-radio' %> 
                    <span class="darkblue"></span>
                    <span class="black"></span>
                    <span class="purple"></span>
                    <span class="black"></span>
                </div>
            </div>
            <div class="radio">
                <%= f.radio_button :theme_name, 'hydrogen', class: 'theme-radio' %> 
            </div>
        </div>
        <div class="theme">
            <%= label_tag "apperance_setting_theme_name_nitrogen" do %>
                <div class="theme-preview">
                    <%= image_tag 'themes/nitrogen.png' %>
                </div>
            <% end %>
            <div class="schemes">
                <div class="scheme">
                    <%= f.radio_button :scheme_name, 'aero', class: 'scheme-radio' %> 
                    <span class="black"></span>
                    <span class="white"></span>
                    <span class="white"></span>
                    <span class="blue"></span>
                </div>
                <div class="scheme">
                    <%= f.radio_button :scheme_name, 'burnt', class: 'scheme-radio' %> 
                    <span class="black"></span>
                    <span class="white"></span>
                    <span class="white"></span>
                    <span class="orange"></span>
                </div>
                <div class="scheme">
                    <%= f.radio_button :scheme_name, 'red', class: 'scheme-radio' %> 
                    <span class="black"></span>
                    <span class="white"></span>
                    <span class="white"></span>
                    <span class="red"></span>
                </div>
            </div>
            <div class="radio">
                <%= f.radio_button :theme_name, 'nitrogen', class: 'theme-radio' %> 
            </div>
        </div>
    </div>

    <h3>Custom Logo</h3>
    <p>You can uplaod a custom logo which will appear at the top of the page. There are two types of logos that may be used. A corner logo can be uploaded and will appear in the corner of the page. This logo should be 80 pixels in height and less than 400 pixels in width, for best results.</p>
    <p>The second type of logo is a full width logo. This type of logo will fill the entire top of the page. This logo must be exactly 1000 pixels in width and should be less than 200 pixels in height, for best results.</p>
    <% unless current_instance.apperance_setting.has_logo? %>
        <div class="input">
            <label>Logo image</label>
            <%= f.file_field :logo_image %>
        </div>
    <% else %>
        <div class="input">
            <label>Logo image</label>
            <div class="logo-display">
                <div class="remove"><%= link_to 'Remove logo', inventory_remove_logo_path %></div>
                <%= image_tag current_instance.apperance_setting.logo_image.url(:thumb) %>
            </div>
        </div>
    <% end %>
    <div class="input">
        <%= f.label :full_size_logo %>
        <label class="label-switch">
            <%= check_box :apperance_setting, :full_size_logo, { checked: current_instance.apperance_setting.full_size_logo}, 'true', 'false' %>
            <div class="checkbox"></div>
        </label>
    </div>

    <div class="form-actions">
        <%= f.submit 'Save Changes' %>
    </div>
<% end %>
