<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= form_tag inventory_application_settings_path do %>
    <h3>Application Settings</h3>
    <%= simple_fields_for @instance do |f| %>
        <p>The application name is a unique name that identifies your application. This name should be a short name that reflects your business. Your custom url will be generated using this name. For instance if your company\'s is Pawn Palace, your application name could be pawnpalace. This would make your application accessible by customers at <strong>http://pawnpalace.<%= request.host %></strong></p>
        <%= f.input :instance_name, label: 'Application name', hint: "" %>
        <h3>Company Infromation</h3>
        <p>Company information is used throughout the application, this should be kept as up to date as possible.</p>
        <%= f.fields_for :company do |f| %>
            <%= f.input :company_name %>
            <%= f.fields_for :phone_number do |phone_fields| %>
                <%= phone_fields.input :number, label: 'Phone number' %>
            <% end %>
            <%= f.fields_for :location do |location_fields| %>
                <%= location_fields.input :street_address %>
                <%= location_fields.input :city %>
                <%= location_fields.input :state %>
                <%= location_fields.input :postal_code %>
            <% end %>
        <% end %>
    <% end %>
    <div class="form-actions">
        <%= submit_tag %>
    </div>
<% end %>
