<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
    <div class="page-bar">
        <div class="page-details">Displaying page <%= current_page %> of <%= total_pages %></div>
        <div class="buttons">
            <%= prev_page_tag %>
            <%= next_page_tag %>
        </div>
    </div>
<% end -%>
