<% content_for :title, 'Using your hockd web address' %>
<h1>Your hockd web address</h1>
<p>
<% if logged_in? %>
    When you created your account you were issued a web address at hockd.com. Your current hockd web address is <%= link_to "http://#{current_instance.instance_name}.hockd.com" %>.
<% else %>
    When you create an account you will be issued a hockd web address. You can customize this address in the form of <strong>http://mycustomname.hockd.com</strong>.
<% end %>
Your page will always be available at this address. However, you can use this url in different ways.

<h1>Using your hockd page as your company's website</h1>
<p>Your hockd page makes a great company website. If you would like to simply have your customers directly access this page you can simply give out your hockd url to your customers. If you want to use a custom domain for your hockd page, see <em>Using a custom domain</em> below.

<h1>Using a custom domain</h1>
<p><span class="inline-note">Domain masking allows you to redirect from one domain to another without changing the address in the users browser. This will allow your hockd page to be viewed from the custom domain and still list http://mycompany.com in the address bar</span>You may find that you want to use a custom domain for your hockd page. This way your customers can visit it by going to <strong>http://www.mycompany.com</strong>. Instead of your customers visiting your page with <strong>http://mycompany.hockd.com</strong>. If this is the case you will need to register your desired domain and redirect (and optionally mask) it to your hockd address (<strong>http://mycompany.hockd.com</strong>). GoDaddy offers cheap and reliable domain hosting, as well as the ability to easily redirect and mask your domain. You can view an article on how to redirect a domain below:</p>
<%= link_to 'GoDaddy Domain Forwarding and Masking', 'http://support.godaddy.com/help/article/422/forwarding-or-masking-your-domain-name' %>

<h1>Linking your hockd catalog to your existing website</h1>
<p>If you already have a company webpage, but would like your customers to be able to browse your hockd catalog, you can simple put a link on your current website. This requires a slight modification to your existing website. You can simple place a new link on your pages that are directed to your hockd.com address.</p>

<h1>Using a custom subdomain in my existing webpage</h1>
<p>If your company currently has a webpage and a custom domain. You would like to put a link on your webpage to your hockd address and catalog. However, you would also like your catalog to be located at a subdomain of your company's webpage domain (something like http://catalog.mycompany.com). You can do this in the same manner as <em>Using a custom domain</em> above. This time however you need to generate a new subdomain in your website and redirect it to your hockd address. To do this you may need to contact the company you registered your domain through, in order to figure out their process for doing this. If your domain was registered with GoDaddy you can visit the link below to read an article on redirecting subdomains.</p>
<%= link_to 'GoDaddy Domain Forwarding and Masking', 'http://support.godaddy.com/help/article/422/forwarding-or-masking-your-domain-name' %><br/> To view the subdomain documentaiton scroll near the bottom of the page.

