<% content_for :title, 'Understanding featured items' %>
<h1>What are featured items</h1>
<p>When an item is marked as featured it will take priority when being displayed in various parts of the system. The first page customers see when they visit your site will be a general list of items. Featured items will always take precedence to display here. This gives items marked as featured maximum exposure. Featured items will also take priority when related items are chosen to be displayed, when viewing a specific item.</p>
<p>Featured items are great for items that are in particularly high demand, or items that are associated with a time of year. Such as jewelry as Feburary approaches. You may also want to tag particular good deals as featured, in order to increase thier exposure. This gives you the beneifit of alerting customers to certain items even when they arent specifically looking for them.</p>
<h1>Marking items as featured</h1>
<p>When editing or creating an item there is a <em>featured switch</em> available on the form. Toggling this switch on will mark the item as featured. The item will begin to take priority over other items on the front page immediately.</p>
