<% content_for :title, 'Getting started' %>
<% unless logged_in? %>
    <h1>Signing up</h1>
    <p>To get started the first thing you must do is sign up for an account. Signup is easy and takes about two minutes. Simply fiill out a few pieces of contact information about yourself and your company and your off. To signup visit the <%= link_to 'signup page', homepage_signup_path %>.
<% end %>
<h1>First Steps</h1>
<p>Before you dive right in, this guide will try to help you understand how to get the best use of <strong>hockd</strong>. This guide will give a quick overview of some of the things you can setup to give your customers the best expierience. If you need detailed information about anything mentioned in this guide you can find additional information in the help section to the left.<p>
<h1>Customize your categories</h1>
<p><span class="inline-note">When you create a category, you should also create subcategories for it. You can do this when viewing a category.</span>Before you add any items it is a good idea to go through and setup your categories. When your account is first created a number of categories are generated for you. These are common categories, but may not apply to your business. You can add, remove, and edit categories from the <%= link_to_if logged_in?,'categories manager', inventory_item_categories_path %> in your <%= link_to_if logged_in?, 'control panel', inventory_landing_path %>.</p>
<p>For more information on categories and subcategories visit the <%= link_to 'categories article', help_article_path('categories') %>
<h1>Customize your sites apperance</h1>
<p>To customize your sites apperance goto the <%= link_to_if logged_in?, 'apperance section', inventory_apperance_settings_path %> section of the <%= link_to_if logged_in?, 'control panel', inventory_landing_path %>. From there you can select a theme and color scheme for your site. Themes change the overall layout and operation of the site, where as the color scheme changes the overall color design of the site. Instead of trying to customize all the colors on the site, you can simply pick from a set of predesigned schemes. These colors are picked to work well together and allow the site to flow well.</p>
<p>
<span class="inline-note">Logo images can be uploaded in any image format. However, for best results we suggest using a jpeg or PNG image file. For inline logos a PNG image with a transperant background will give you the best result.</span>
You can also upload your own logo to further customize your page. You can uplaod two different styles of logos:
<ul>
    <li><strong>Inline logos</strong> - Inline logos are small logos that appear in the corner of your site. This will generally be a smaller logo and company name. It will appear inline with additional information such as your company's phone number and address.</li>
    <li><strong>Full logos</strong> - Full fized logos take up the entire width of your site. This will replace the content in the sites header such as phone number and address. For this reason it is important to upload a logo that is 1000 pixels in width. A logo larger than that will be automatically scaled down to fit in the layout. Images smaller than this may be stretched to fill the area, which could make them appear undesirable.</p>
</ul>
<p>You can also customize the url of your site or give your page a full domain name such as http://mycompany.com. For more information on domains visit the <%= link_to 'website address', help_article_path('domain') %> section.</p>
<h1>Adding items to your catalog</h1>
<p><span class="inline-note">We recommend using stock product images for the primary image attached to an item.</span>Items can be added from the <%= link_to_if logged_in?, 'items section', inventory_items_path %> of the <%= link_to_if logged_in?, 'control panel', inventory_landing_path %>. Adding a new item requires only filling out a few details for the item. Basic item inforamtion such as the items title, description, price, item condition, categories, and featured selection.</p>
<p>Additionally, it is recommended to attach a photo to your item. This will greatly improve the quality of the listing.</p> 
<p>To learn how to get the best results when adding items photos visit the <%= link_to 'item photos', help_article_path('item_photos') %> section.</p>
<h1>Getting your customers to your site</h1>
<p>There are two methods of using your site, which depends on your situation and existing web pages.</p>
<% if logged_in? %>
    <p>Your customers can currently access your page by visiting <strong>http://<%= current_instance.instance_name %>.hockd.com</strong>.</p>
<% else %>
    <p>You will be able to pick a custom address for your application such as <strong>http://mycompany.hockd.com</strong>.</p>
<% end %>
<p>If your business currently has a website. You can simply add a link from your existing page to your hockd address. This way when customers visit your existing page they will be able to browse your catalog.</p>
<p>If your company doesn not currently have a website. Your hockd page makes a great business page. You can simply use it as your companies full website. In that case you can either give out your hockd url to your customer, or you can point your own custom domain to your hockd page. To learn more about registring and pointing a custom domain to your hockd page visit the <%= link_to 'website address', help_article_path('domain') %> help article.</p>
