<% content_for :title, 'Attaching photos to items' %>
<h1>Uploading item photos</h1>
<p>
To upload a photo and attach it to an item you must have the photo stored somewhere on your computer. 
<ul>
    <li>In the <%= link_to_if logged_in?, 'control panel', inventory_landing_path %> goto the <%= link_to_if logged_in?, 'item editor', inventory_items_path %>.</li>
    <li>Select an item, to view its details and information</li>
    <li>When viewing an item a <strong>Add Photo</strong> button is available. Click <strong>Add Photo</strong>.</li>
    <li>You will be prompted to select a file to upload. Press <strong>browse</strong> to open the file selection dialog. From here navigate to and select the file you wish to attach.</li>
</ul>
</p>
<p>Once you upload an image it will be scaled to various sizes to be used in different parts of the page. This helps speed up your users browsing experience by sending smaller images when possible. The photo will appear in the bottom section of the item details page. From here you have two additional options for each image. You can click on the trashcan (<%= icon('trash-o') %>) to delete the photo and remove it from the item. You can also set a specific photo as primary using the star button (<%= icon('star') %>). The star will be highlighted for the current primary photo. To switch another photo as primary clicking the star button under that photo will change it.</p>

<h1>Using multiple photos</h1>
<p>You can upload and attach multple photos to a single item. This is useful for items where a single picture can not convey enough detail, or if you are using stock images for the primary photo and actual images for secondary photos. When multple photos are attached to to an item the primary photo is the photo that is used to list item. When a customer views the item itself the additional photos will be available to view as well.</p>
<h1>Using product images as primary photos</h1>
<p>To improve the apperance of the catalog you can use stock product photos as the primary photo and then upload additional <em>actual</em> photos of the item itself. This allows the catalog to display the professional quality product photos when browsing the catlalog and your customers can still view the photos of the real item from the item's page</p>
<p>Generally you can find such photos from the manufactures website, or through image search services such as <%= link_to 'Google Image Search', 'http://images.google.com' %>.
