<% content_for :title, 'Payment security' %>
<h1>Billing details</h1>
<p>We take security very seriously and as a result have chosen to take every step possible to ensure maximum payment security for our customers.</p>
<p>Our system never interacts with your payment details. When you submit your credit card information it is transmitted through a secure connection directly from your web browser to our payment processing partners. This process completely bypasses our system. This means we do not store, or have access to, your actual billing details. This helps us make sure that your payment credentials are kept secure and safe.</p>
<p>When dealing with your account information we implement high level encryption across the site, in order to further protect any information we do collect.</p>
<p>If you have any additional questions or concerns about our payment system don't hesitate to ask us. You can simply type a question below and we will answer any questions, or address any concerns, you may have.</p>
