<%= content_for :title, "Understanding related items" %> 
<h1>What are related items</h1>
<p>Related items are displayed to a user when they view an item in your catalog. We will automatically attempt to find similar items to the item they are viewing and display them below the they are looking at. This helps items get more exposure to customers that might be interested in them.</p>
<h1>How to use ralated items</h1>
<p>There is no setup or configuration needed for related items. They will automatically appear on item pages.</p>
<h1>How related items are chosen</h1>
<p>Related items will come be pull from items in the same category and subcategory. Further there are text matching algorithims that attempt to find items with similar words in their title. Items which are viewed more often are also given priortiy to be selected.</p>
