<div class="navigation">
    <div class="navigation-wrapper">
        <div class="nav">
            <ul>
                <%= link_to 'Items', inventory_items_path %>
            </ul>
        </div>
    </div>
</div>
