<div class="nav">
    <ul>
        <li><%= link_to icon('external-link', 'Open My Site'), browser_landing_url(subdomain: current_instance.instance_name), target: '_new' %>
        <li><%= link_to icon('life-bouy', 'Get Help'), help_landing_path, class: (defined?(help_active) ? 'active' : 'nil') %></li>
        <li><%= link_to 'Control Panel', inventory_landing_path, class: (defined?(control_panel_active) ? 'active' : nil) %></li>
        <li class="divider">&nbsp;</li>
        <li><%= link_to icon('user', current_user.name), inventory_account_path %></li>
        <li class="divider">&nbsp;</li>
        <li><%= link_to icon('sign-out', 'Logout'), homepage_signout_path  %></li>
    </ul>
</div>



