//@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bourbon";
@import "base/base";
@import "neat";
@import "switch";
@import "select2";
@import "select2-override";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

$content-background-color: white;
//$base-accent-color: #eb412b;
//$base-accent-color: #02B9D1;

@import "homepage/signup";
@import "homepage/land";
@import "homepage/signin";
@import "homepage/page_preview";
@import "tooltip";
body {
    padding: 0px;
    margin: 0px;
}

.logo {
    a {
        margin-left: 15px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 600;
        color: #444; 
        -webkit-font-smoothing: antialiased !important;
        font-size: 2em;
        text-align:center;
        margin-bottom: 15px;
    }
}

.site-header {
    @include clearfix;
    background: #f5f5f5;
    padding: 0px 20px;
    height: 45px;
    .logo {
        float: left;
        @include user-select(none);
            height: 45px;
        a {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 600;
            color: #444; 
            -webkit-font-smoothing: antialiased !important;
            font-size: 1.5em;
            line-height: 45px;
            height: 45px;
            display: block;
        }
    }
    .links {
        float: right;
        text-align: right;
            height: 45px;
        a {
            padding: 0px 15px;
            color: #666;
            font-size: 0.8em;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
            line-height: 45px;
        }
        a:hover {
            color: #252525;
        }
    }
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    line-height:1;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #888;
    text-align: center;
    font-size: 1em;
    margin-bottom: 25px;
}
h4 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #161616;
    font-size: 1.2em;
    font-weight: normal;
}
p {
    font-family: 'Open Sans';
    color: #888;
}
