
.modal-wrapper {
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include radial-gradient(#666,#333);
    opacity: 0.8;
}

.modal {
    scale: 0.5;
    box-shadow: 0 2px 4px #333;
    top: 200px;
    z-index: 1000;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -300px;
    border-radius: 4px;
    border: 1px solid #666;
    .header {
       height: 35px; 
       @include linear-gradient($base-accent-color, darken($base-accent-color,10));
       @include border-top-radius(4px);
       border-top: 1px solid rgba(255,255,255,0.5);
       font-size: 1em;
       font-weight: bold;
       color: white;
       padding: 5px 15px;
    }
    .body {
        padding-top: 15px;
        padding-bottom: 0px;
        @include border-bottom-radius(4px);
        p {
            padding: 5px 15px;
        }
        form {
            input {
                margin-left: 15px;
            }
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
        background-color: $content-background-color;
        .buttons {
            @include clearfix;
            @include border-bottom-radius(4px);
            padding: 4px 8px;
            background: darken($base-background-color,5);
            border: 1px solid darken($base-background-color, 10);
            text-align: right;
            input[type=submit] {
                @include button(simple, $base-accent-color);
            }
        }
        p {
            font-size: 0.7em;
            color: $base-font-color;
        }
    }
}
