<% unless params[:no_hero] %>
<div class="container">
    <div class="land-hero">
        <div class="row">
            <div class="left">
                <div id="map" class="contact-map">
                </div>
                <div class="contact-details">
                    <p>Visit us</p>
                    <div class="address"> <%= current_instance.company.location.street_address %> </div>
                    <div class="info">
                        <p>Have questions?</p>
                        <div class="phone-number"> <%= number_to_phone current_instance.company.phone_number.number %> </div>
                        <p>Call us</p>
                    </div>
                </div>
            </div>
            <div class="right">
                <%= render partial: 'browser/items/hero_item', object: @hero_item %>
            </div>
        </div>
    </div>
</div>
<% end %>
<div class="container">
    <div class="featured-items">
        <% @featured_items.in_groups(4).each do |items| %>
            <div class="feature-column">
                <% items.each do |item| %>
                    <%= featured_item(item) if item %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
<%= render 'browser/categories' %>
</div>
<script>

    $(function() {
        <%= render "map/#{current_instance.apperance_setting.scheme_name}" %>
        handler = Gmaps.build('Google');
        handler.buildMap({ 
            provider: {
                disableDefaultUI: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: map_styles,
                zoom: 12,
                center: new google.maps.LatLng(<%= current_instance.company.location.latitude %>, <%= current_instance.company.location.longitude %>)
            }, 
            internal: {
                id: 'map'
            }
        }, function() {
            markers = handler.addMarkers([
            {
                "lat": <%= current_instance.company.location.latitude %>,
                "lng": <%= current_instance.company.location.longitude %>,
            }
            ]);
            handler.bounds.extendWith(markers);
            //handler.fitMapToBounds();
        }); 
    });
</script>
