<div class="items-grid panel">
    <div class="breadcrumb">
        <%= link_to icon('home'), browser_landing_path %>
        <%= link_to 'Search', '' %>
        <div class="active">Searching for '<em><%= params[:q]['title_cont'] %></em>'</div>
        <div class="tools">
            <%= display_style_link('th-list', 'list') %> 
            <%= display_style_link('th', 'grid') %> 
        </div>
    </div>
    <div class="body">
        <div class="full item-list <%= item_display_style %>">
            <div class="items">
                <%= render(@items) || render('browser/items/none') %>
            </div>
        </div>
        <%= paginate(@items) %>
    </div>
</div>
<%= render 'browser/categories' %>
