<div class="items-grid">
    <div class="breadcrumb">
        <%= link_to icon('home'), browser_landing_path %>
        <div class="active"><%= @title %></div>
        <div class="tools">
            <%= display_style_link('th-list', 'list') %> 
            <%= display_style_link('th', 'grid') %> 
        </div>
    </div>
    <div class="filters">
        <div class="filter-list">
            <h3>Subcategory</h3>
            <ul>
                <%=filter_link 'sc', 'All', nil %>
                <% @sub_categories.each do |sub_category| %>
                    <%= filter_link 'sc', sub_category.name, sub_category.id %>
                <% end %>
            </ul>
        </div>
        <div class="filter-list">
            <h3>Price</h3>
            <ul>
                <%= filter_link 'price', 'Any Price', nil %>
                <%= filter_link 'price', 'under $20', 20 %>
                <%= filter_link 'price', 'under $50', 50 %>
                <%= filter_link 'price', 'under $100', 100 %>
                <%= filter_link 'price', 'under $200', 200 %>
                <%= filter_link 'price', 'under $500', 500 %>
            </ul>
        </div>
        <div class="filter-list">
            <h3>Sort By</h3>
            <ul>
                <%= filter_link 'sort', 'Most Recent', nil %>
                <%= filter_link 'sort', 'Popularity', 'view_count desc' %>
                <%= filter_link 'sort', 'Price: Low', 'price asc' %>
                <%= filter_link 'sort', 'Price: High', 'price desc' %>
            </ul>
        </div>
    </div>
    <div class="item-list <%= item_display_style %>">
        <div class="items">
            <% if @items.count == 0 %>
                <%= render('browser/items/none') %>
            <% else %>
                <% @items.in_groups_of(4, false).each do |items| %>
                    <div class="item-row">
                        <%= render items %>
                    </div>
                <% end %>
            <% end %>
        </div>
        <%= paginate(@items) %>
    </div>
</div>
<%= render 'browser/categories' %>
