<div class="item-view">
    <div class="image-browser">
        <div class="image-container">
            <%= image_tag @item.primary_photo_url(:medium), class: 'medium-image' %>
        </div>
        <div class="images">
            <% @item.photos.each do |photo| %>
                <%= image_tag photo.image.url(:tiny), class: 'image-thumb', data: { 'medium-url' => photo.image.url(:medium) } %>
            <% end %>
        </div>
    </div>
    <div class="item-information">
        <div class="title">
            <h2><%= @item.title %></h2>
        </div>
        <div class="information-wrapper">
            <div class="details">
                <div class="detail-line">
                    <div class="label">Category</div> <div class="value"><%= @item.category.name %></div>
                </div>
                <div class="detail-line">
                    <div class="label">Sub Category</div> <div class="value"><%= @item.item_sub_category.name %></div>
                </div>
                <div class="detail-line">
                    <div class="label">Condition</div> <div class="value"><%= @item.condition  %></div>
                </div>
                <% if @item.properties %>
                    <% @item.properties.each do |k,v| %>
                        <div class="detail-line">
                            <div class="label"><%= k.capitalize %></div> <div class="value"><%= v %></div>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="price">
                <%= number_to_currency @item.price %>
            </div>
        </div>
        <hr/>
        <div class="copy">
            <p><%= @item.description.gsub("\n", "<br/>").html_safe %></p>
        </div>
    </div>
</div>
<% if @item.has_related_items? %>
    <div class="related-items">
        <h3>Related items</h3>
        <div class="items">
            <%= render @item.related_items(4) %>
        </div>
    </div> 
<% end %>
<%= render 'browser/categories' %>
