<div class="item">
    <div class="photo">
        <%= link_to browser_item_path(hero_item) do %>
            <%= image_tag hero_item.primary_photo_url(:medium), size: hero_item.primary_photo.image.image_size(:medium) %>
        <% end %>
    </div>
    <div class="info">
    <div class="details">
        <div class="title"><%= link_to hero_item.title, browser_item_path(hero_item)  %></div>
        <div class="description">
            <p><%= truncate(hero_item.description, length: 250, omission: '...') %></p>
        </div>
    </div>
    <div class="price">
        <span><%= number_to_currency  hero_item.price %></span>
    </div>
</div>
</div>
