<div class="item">
    <div class="photo">
        <%= link_to browser_item_path(item) do %>
            <%= image_tag item.primary_photo_url(:thumb), size: item.primary_photo.image.image_size(:thumb) %>
        <% end %>
    </div>
    <div class="details">
        <div class="title"><%= link_to item.title, browser_item_path(item)  %></div>
        <div class="description">
            <p><%= truncate(item.description, length: 250, omission: '...') %></p>
        </div>
    </div>
    <div class="price">
        <span><%= number_to_currency  item.price %></span>
        <small>Available Now</small>
        <%= link_to 'More Info', browser_item_path(item) %>
    </div>
</div>
