<div class="items-grid panel">
    <div class="header breadcrumb">
        <%= link_to icon('home'), browser_landing_path %>
        <%= link_to 'Categories', '' %>
        <div class="active"><%= category %></div>
        <div class="tools">
            <%= display_style_link('th-list', 'list') %> 
            <%= display_style_link('th', 'grid') %> 
        </div>
    </div>
    <div class="body">
        <div class="item-list <%= @display %>">
            <%= render(items) || render('browser/items/none') %>
        </div>
        <%= paginate(items) %>
    </div>
</div>
