@import "font-awesome-sprockets";
@import "font-awesome";
@import "bourbon";
@import "base/base";
@import "neat";


@import "browser/themes/variables";


$card-image-background: #DBD199;
$navigation-background: #666;
$navigation-background-hover: #000;
$navigation-font-color: #fff;

$content-background-color: #fff;

$search-color: #000;
$search-border-color: #888; 
$search-text-color: #161616;
$search-element-background: #eee; 

$hr-border-color: $base-border-color;

$inset-color: rgba(114,125,150,0.4);

$breadcrumb-accent-color: #161616; 
$breadcrumb-color-active: $base-accent-color;

@import 'breadcrumb';
@import 'core';
@import 'nav';
@import 'featured';
@import 'item_browser';

