.breadcrumb { 
  @include inline-block;
  text-align: left;
  border-bottom: 1px solid $breadcrumb-border-color;
  background: $breadcrumb-background;
  width: 100%;
  font-size: $breadcrumb-font-size;
  font-weight: $breadcrumb-font-weight;
  text-transform: $breadcrumb-text-transform;
  letter-spacing: $breadcrumb-text-spacing;
  div.active {
        display: inline;
        background-color: $breadcrumb-background;
        color: $breadcrumb-color-active;
        line-height: $breadcrumb-height;
        margin-right: -5px;
        padding: 0 $breadcrumb-height/4 0 $breadcrumb-height/2;
        position: relative;
        text-decoration: none;
  }
  >a {
    @include inline-block;
    background-color: $breadcrumb-background;
    border: $breadcrumb-border;
    color: $breadcrumb-color;
    line-height: $breadcrumb-height;
    margin-right: -5px;
    padding: 0 $breadcrumb-height /4 0 $breadcrumb-height / 2;
    position: relative;
    text-decoration: none;
    border-bottom: none;
    border-top: none;

    &:first-child {
      padding-left: $breadcrumb-height/2;
      border-top-left-radius: $base-border-radius;
      border-bottom-left-radius: $base-border-radius;
      border-left: none;
    }

    &:last-child {
      background-color: $breadcrumb-background;
      color: $breadcrumb-color-active;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      padding-right: $breadcrumb-height/2;
    }

    &:hover {
      color: $breadcrumb-color-hover;
      background-color: $breadcrumb-inactive-hover-color;
    }

    &:hover:after {
      border-left-color: $breadcrumb-inactive-hover-color;;
    }

    &:after,
    &:before {
      @include position(absolute, 0px auto 0px 100%);
      border-bottom: $breadcrumb-height/2 solid transparent;
      border-left: $breadcrumb-height/4 solid transparent;
      border-top: $breadcrumb-height/2 solid transparent;
      content: '';
      display: block;
      margin: auto;
      z-index: 2;
    }

    &:last-child:after,
    &:last-child:before {
       border: none;
    }

    &:before {
      border-left-color: $breadcrumb-arrow-color;
      margin-left: 1px;
      z-index: 1;
    }
    &:after {
      border-left-color: $breadcrumb-background;
    }

  }
  a.active {
    border-right: none;
    &:hover {
        background-color: $breadcrumb-background;
        color: $breadcrumb-color;
    }
  }
  .tools {
    float: right;  
    margin-right: 15px;
    a {
        @include inline-block;
        background-color: $breadcrumb-background;
        color: $breadcrumb-color;
        line-height: $breadcrumb-height;
        margin-right: -5px;
        padding: 0 $breadcrumb-height/4 0 $breadcrumb-height/2;
        position: relative;
        text-decoration: none;
        border-bottom: none;
        border-top: none;
        &:hover {
            color: $breadcrumb-color-hover;
        }
    }
    a.active {
        color: $breadcrumb-color-active;
    }
  }
}
