@import "font-awesome-sprockets";
@import "font-awesome";
@import "bourbon";
@import "base/base";
@import "neat";

$base-accent-color: #990000;
$base-background-color: #333;
$base-border-color: #252525;
$base-font-color: #eee;
@import "browser/themes/variables";
$logo-color: #fff;

$card-background: #000; 
$card-header-background: $card-background;
$card-hover-background: lighten($card-background, 5);
$card-image-background: #DBD199;
$card-image-hover-background: lighten($card-image-background, 5);


$navigation-background: #660000;
$navigation-background-hover: #330000;
$content-background-color: #080808;
$navigation-font-color: #eee;

$panel-background-color: #eee;
$panel-background-color: #000;
$panel-header-background: #454545;
$panel-header-text-transform: uppercase;
$panel-header-text-spacing: 1px;
$panel-header-font-size: 0.8em;
$panel-header-font-weight: bold;



$search-color: $navigation-background;
$search-border-color: darken($search-color, 10);
$search-text-color: #fff;
$search-element-background: darken($search-color, 5);

$related-title-color: #fff;
$related-price-color: #999;
$related-font-weight: bold;
$related-header-background: $panel-header-background; 
$related-header-color: #000 ;
$related-header-letter-spacing: $panel-header-text-spacing;
$related-header-text-transform: $panel-header-text-transform;
$related-header-font-size: $panel-header-font-size;

$header-contact-font-color: #fefefe;


$category-list-background: #151515;
$category-header-background: $panel-header-background;
$category-header-font-size: $panel-header-font-size;
$category-list-header-font-color: #000;
$category-list-sub-category-color: #666;
$category-list-color: #eee;
$categories-hover: #fff;

$inset-color: transparent;

$hr-border-color: transparent;

$breadcrumb-height: 30px; 
$breadcrumb-background: #454545; 
$breadcrumb-inactive-hover-color: darken($breadcrumb-background,5);
$breadcrumb-color: #666;
$breadcrumb-color-active: white; 
$breadcrumb-accent-color: #161616; 
$breadcrumb-text-transform: uppercase;
$breadcrumb-text-spacing: 1px;
$breadcrumb-font-size: 0.8em;
$breadcrumb-font-weight: $panel-header-font-weight;


$page-bar-background-color: #333; 
$page-bar-disabled-color: #666;

$muted-text-color: darken($base-font-color, 30);

@import 'breadcrumb';
@import 'core';
@import 'nav';
@import 'featured';
@import "item_browser";
