@import "texture";



@mixin inset {
    box-shadow: inset 0 0 1px $inset-color, inset 0 1px 0 $inset-color, 0 1px 0 $inset-color;
}
html {
    overflow-y: scroll;
    min-height: 100%;
}
body {
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0px;
    min-width: 1000px;
    background: $base-background-color;
}


.gmnoprint a, .gmnoprint span { display:none; }
.gmnoprint div { background:none !important; }
#GMapsID div div a div img{ display:none; }
a[href^="http://maps.google.com/maps"]{display:none !important}


.land-hero {
    @include outer-container;
    box-shadow: 0 2px 4px darken($base-background-color, 20);
    border: $card-border;
    background-color: $content-background-color;
    .row {
        .left {
            @include span-columns(4);
            margin-right: 0px;
            .contact-map {
                height: 200px;
                border-bottom: 1px solid $base-border-color;
            }
            .contact-details {
                @include pad;
                @include clearfix;
                padding-top: 30px;
                height: 200px;
                text-align: center;
                p {
                    font-size: 0.8em;
                    padding: 0px;
                    margin: 0px;    
                    color: transparentize($base-font-color, 0.5);
                }
                .phone-number, .address {
                    font-weight: bold;
                    color: $base-font-color;
                }
                .address {
                    margin-bottom: 20px;
                }
            }
        }
        .right {
            @include span-columns(8);
            border-left: 1px solid $base-border-color;
            height: 400px;
            .item {
                    @include outer-container;
                    @include pad;
                    .photo {
                        @include span-columns(6);
                    }
                    .info {
                        @include span-columns(6);
                    .price {
                        text-align:center;
                        border-top: 1px solid $base-border-color;
                        span {
                            padding-top: 10px;
                            font-weight: bold;
                            display: block;
                            font-size: 1.4em;
                            color: $base-font-color;
                        }
                    }
                    .details {
                        @include pad;
                        .title a {
                            font-weight: bold;
                            font-size: 1.2em;
                            color: $base-font-color;
                        }
                        .title a:hover {
                            color: $base-accent-color;
                        }
                        .description {
                            color: transparentize($base-font-color,0.3);
                        }
                    }
                }
            }
        }
    }
}
.header {
    @include outer-container;
    img {
        display: block;
    }
    .logo {
        position: relative;
        @include span-columns(6);
        a {
            color: $logo-color;
            font-family: 'Oswald', sans-serif;
            font-size: 1.5em;
        }
    }
    .contact {
        text-align: right;
        font-size: 1em;
        font-weight: bold;
        padding: 4px;
        @include span-columns(6);
        span, a {
            margin-left: 20px;
        }
        span {
            display: inline-block;
            color: $header-contact-font-color;
        }
        a {
            display: inline-block;
            @include button(simple, $base-accent-color);
            padding: 4px 8px;
            font-size: 0.8em;
        }
    }
}

.container {
    @include outer-container;
    width: 1000px;
}
.pagination {
    margin-top: 15px;
    .page, .next, .last, .first, .prev  {
        a {
            display: inline-block;
            padding: 3px 8px;
            border: 1px solid $base-border-color;
            &:hover {
                background-color: lighten($base-border-color,10);
            }
        }
    }
    .current {
        display: inline-block;
        padding: 3px 8px;
        border: 1px solid $base-border-color;
    }
    .last {
        a {
        }
    }
}
.page-header {
    h2 {
        font-size: 1.7em;
        text-transform: uppercase;
        text-align: center;
        font-weight: lighter;
        color: $base-font-color;
    }
}


.no-items {
    p {
        font-size: 0.8em;
        text-align: center;
        color: $base-font-color;
    }
    p.muted {
        color: $muted-text-color; 
        
    }
}


.item-view {
    @include outer-container;
    background-color: $content-background-color;
    box-shadow: 0 2px 4px darken($base-background-color, 10);
    border: 1px solid $base-border-color;
    padding: 15px;
    .image-browser {
        @include span-columns(4);
        .image-container {
            display: inline-block;
            border: 1px solid $base-border-color;
        }
        .images {
            padding-top: 5px;
            img {
                border: 1px solid $base-border-color;
                cursor: pointer;
                margin-left: 5px;

            }
        }
    }
    .item-information {
        @include span-columns(8);
        padding-top: 15px;
        .title {
            margin-bottom: 15px;
            h2 {
                font-weight: lighter;
                color: $base-font-color;
            }
        }
        .information-wrapper {
            @include outer-container;
            .details {
                @include span-columns(8);
                .detail-line {
                    margin-top: 2px;
                    font-size: 0.8em;
                    .label {
                        display: inline-block;
                        width: 150px;
                        color: lighten($base-font-color,40);
                    }
                    .value {
                        color: $base-font-color;
                        display: inline-block;
                    }
                }
            }
            .price {
                @include span-columns(4);
                font-size: 18px;
                font-weight: lighter;
                font-size: 2.0em;
                color: $base-font-color;
                padding: 0px 25px;
            }
        }
        .copy {
            p {
                font-size: 0.8em;
                padding: 5px 20px;
                color: $base-font-color;
            }
        }
    }
}

.categories {
    margin-top: 25px;
    border-radius: $base-border-radius;
    border: 1px solid $base-border-color;
    background: $content-background-color;
    h3 {
        color: $category-list-header-font-color;
        padding: 8px 10px;
        text-transform: uppercase;
        font-size: $category-header-font-size;
        border-bottom: 1px solid $base-border-color;
        background: $category-header-background;
        letter-spacing:1px;
    }
    .categories-inner {
        @include outer-container;
        background: $category-list-background;
        padding:15px 0px;
        .wrapper {
            margin: auto auto;
            width: 90%;
            .category {
                @include span-columns(2);
                @include omega(6n);
                font-size: 14px;
                h4 {
                    font-size: 11px;
                    font-weight: 700;
                    padding: 0px;
                    margin: 0px;
                    text-align: left;
                    line-height: 14px;
                    color: $category-list-color;
                }
                ul {
                    li {
                        padding: 0px;
                        margin: 0px;
                        text-align: left;
                        line-height: 15px;
                        a {
                            padding: 0px;
                            margin: 0px;
                            font-size: 11px;
                            font-weight: 500;
                            color: $category-list-sub-category-color;
                        }
                        a:hover {
                            color: $categories-hover;
                        }
                    }
                }
            }
        }
    }
}

.related-items {
    box-shadow: 0 2px 4px darken($base-background-color, 10);
    background-color: $content-background-color; 
    border: 1px solid darken($base-background-color, 10);
    margin-top: 30px;
    padding-bottom :15px;
    h3 {
        font-weight: normal;
        color: $related-header-color;
        font-size: $related-header-font-size;
        line-height: 1;
        margin: 0px;
        margin-top: 0px;
        border-bottom: 1px solid $related-seperator-color;
        font-weight: bold;
        padding: 8px 20px;
        background: $related-header-background;
        text-transform: $related-header-text-transform;
        letter-spacing: $related-header-letter-spacing;
    }
    .items {
        @include outer-container; 
        .item {
            @include span-columns(3);
            @include pad();
            margin-top: 15px;
            border-right: 1px solid $base-border-color;
            .photo {
                text-align: center;
                margin: auto auto;
            }
            .details {
                display: block;
                text-align: center;
                .title {
                    a {
                        color: $related-title-color;
                        font-weight: $related-font-weight;
                    }
                    a:hover {
                        color: $related-title-hover-color;
                    }
                }
                .description {
                    display: none;
                }
            }
            .price {
                text-align: center;
                span {
                    margin-top: 10px;
                    display: block;
                    color: $related-price-color;
                    font-weight: bold;
                    font-size: 1.2em;
                }
                small {
                    display: none;
                }
                a {
                    display: none;
                }
            }
        }
        .item:last-child {
            border-right: none;
        }
    }
}

.footer {
    margin-top: 30px;
    margin-bottom:20px;
    font-size: 0.8em;
    color: #999;
    text-align: center;
    a {
        color: #666;
    }
}
