// Place all the styles related to the browser/item_browser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//



.featured-items {
    margin-top: 25px;
    @include clearfix;
    @include outer-container;
    .feature-column {
        @include span-columns(3);
    }
}
.featured-item {
    a {
        color: $base-font-color;
    }
    @include transition (all 0.2s ease-in-out);
    margin: auto auto;
    width: 200px;
    background-color: $card-background;
    border-radius: $base-border-radius;
    border: $card-border;
    margin-bottom: $base-line-height;
    cursor: pointer;
    box-shadow: 0 2px 4px darken($base-background-color, 20);
    position: relative; 
    .image {
        overflow: hidden;
        padding: 1px;
        min-height: 210px;
    }
    .title {
        @include transition(all 0.2s ease-in-out);
        @include ellipsis;
        background-color: $card-header-background;
        border-bottom: $card-border;
        border-radius: $base-border-radius $base-border-radius 0 0;
        font-weight: bold;
        padding: $base-line-height/3 $gutter/2;
    } 
    .description {
        padding: $base-line-height/3 $gutter/2;
        font-size: 0.8em;
        line-height: 1.5em;
        min-height: 180px;
    }
    .price {
        text-align: right;
        padding: $base-line-height/3 $gutter/2;
        font-weight: bold;
        color: $base-accent-color;
    }
    a:hover {
        .title {
            color: $base-accent-color;
        }
    }
}





