.items-grid {
    @include outer-container;
    border: 1px solid $base-border-color;
    background: $panel-background-color;
    .filters {
        @include span-columns(2);
        @include pad;
        .filter-list {
            margin-bottom: 25px;
            h3 {
                font-size: 0.6em;
                color: lighten($base-font-color, 40);
                text-transform: uppercase;
            }
            ul li {
                padding: 0px;
                margin: 0px;
                a {
                    @include transition(all, 0.2s);
                    color: lighten($base-font-color,10);
                    width: 120px;
                    display: inline-block;
                    font-size: 0.9em;
                    line-height: 1em;
                    padding: 3px 5px;
                    border-radius: 5px;
                    border: 1px solid transparent;
                }
                a:hover {
                    background-color: darken($base-background-color,5);
                    border: 1px solid darken($base-background-color,10);
                    color: darken($base-font-color, 10);
                }
            }
            li.active {
                a, a:hover {
                    @include inset;
                    background-color: $base-accent-color;
                    color: white;
                    border: 1px solid darken($base-accent-color, 5);
                }
            }
        }
    }
    .item-list {
        @include span-columns(10);
        .no-items {
            @include pad;
        }
        .title {
            a {
                @include transition(all, 0.5s);
                color: $base-font-color;
                font-weight: bold;
                font-size: 1.2em;
                &:hover {
                    color: $base-accent-color;
                }
            }

        }
    }
    .item-list.list {
        border-left: 1px solid $base-border-color;
        .item {
            @include outer-container;
            @include pad;
            border-bottom: 1px solid $base-border-color;
            .photo {
                @include span-columns(3);
            }
            .details {
                @include span-columns(7);
                .description {
                    color: $base-font-color;
                    p {
                        font-size: 0.8em;
                    }
                }
            }
            .price {
                @include span-columns(2);
                text-align: center;
                padding-top: 15px;
                span {
                    font-weight: bold;
                    color: $base-font-color; 
                    display: block;
                }
                small {
                    display: block;
                    color: transparentize($base-font-color, 0.3);
                }
                a {
                    @include button(simple, $base-accent-color);
                    padding: 3px 8px;
                    font-size: 0.8em;
                    margin: auto auto;
                    margin-top: 5px;
                    text-align: center;
                }
            }
        }
    }
    .item-list.grid {
        .item-row {
            @include row(table);
            .item {
                @include span-columns(3, table);
                @include pad;
                border-right: 1px solid $base-border-color;
                border-bottom: 1px solid $base-border-color;
                .photo {
                    text-align: center;
                }
                .details {
                    .title {
                        @include ellipsis;
                        text-align: center;
                    }
                    
                    .description {
                        display: none;
                    }
                }
                .price {
                    padding: 5px;
                    text-align: center;
                    span {
                        display: block;
                        font-weight: bold;
                        color: $base-font-color;
                    }
                    small {
                        display: block;
                        color: transparentize($base-font-color, 0.3);
                    }
                    a {
                        @include button(simple, $base-accent-color);
                        padding: 3px 8px;
                        font-size: 0.8em;
                        display: block;
                        margin-top: 5px;
                    }
                }
            }
            .item:first-child {
                border-left: 1px solid $base-border-color;
            }
            .item:nth-child(4) {
                border-right: none;
            }
        }
    }
}
