

.navigation {
    @include clearfix;
    height: $navigation-height;
    background: $navigation-background;
    line-height: $navigation-height;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
    color: #fff;
    .navigation-wrapper {
        @include outer-container;
        .nav {
            .menu {
                @include span-columns(9);
                ul {
                    li {
                        display:table-cell;
                        height: $navigation-height;
                        a {
                            @include transition(all,0.5s); 
                            height: $navigation-height - 2px;
                            line-height: $navigation-height;
                            padding-left: 15px;
                            padding-right: 15px;
                            display: inline-block;
                            color: $navigation-font-color;
                            font-weight: $navigation-font-weight;
                            font-size: 0.9em;
                            border-right: 1px solid darken($navigation-background, 10%);
                            border-left: 1px solid lighten($navigation-background, 10%);
                        }
                        a:hover {
                            background: $navigation-background-hover; 
                        }
                    }
                    li:last-child {
                        a {
                            border-right: none;
                        }
                    }
                    li:first-child {
                        a {
                            border-left: none;
                        }
                    }
                }
            }
            .slide-search{
                @include span-columns(3);
                text-align:right;
                padding-right: 5px;
                .search-container {
                    display: inline-block; 
                    min-width: 10px;
                    input { 
                        display: none;
                        padding: 0px;
                        height: $navigation-height - 10px;
                    }
                }
                button {
                    background: $navigation-background; 
                    border: none;
                    font-size: 1.3em;
                }
            }
        }
    }
}

