@import "font-awesome-sprockets";
@import "font-awesome";
@import "bourbon";
@import "base/base";
@import "neat";

$base-accent-color: #163366;
$base-background-color: #333;
$base-border-color: #333;
$base-font-color: #eee;

@import "browser/themes/variables";

$container-background: #454545;

//CARDS

$card-background: #000;
$card-header-background: #000;

// NAVIGATION
$navigation-background: $base-accent-color;
$navigation-font-color: #fff;
$content-background-color: #101010;
$panel-background-color: #000;

$category-list-background: #252525;
$category-list-sub-category-color: #666;

@import 'breadcrumb';
@import 'core';
@import 'nav';
@import 'featured';
@import 'item_browser';
