<!DOCTYPE html>
<html>
    <head>
        <title>Pawn</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    </head>
    <body>

        <%= yield %>

    </body>
</html>
