
<!DOCTYPE html>
<html>
    <head>
        <title>Hockd.com - Help & Support</title>
        <%= stylesheet_link_tag    'inventory', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script>Stripe.setPublishableKey('<%= STRIPE_PUBLIC_KEY %>');</script>
    </head>
    <body>
        <div class="page-wrapper help-page">
            <div class="header">
                <div class="logo"><%= link_to 'hockd', homepage_landing_path %></div> 
                <% if logged_in? %>
                    <%= render 'inventory/top_nav', help_active: true %> 
                <% else %>
                    <div class="nav">
                        <ul>
                            <li><%= link_to icon('home', 'Back to homepage'), homepage_landing_path %></li>
                            <li><%= link_to icon('life-bouy', 'Help'), help_landing_path, class: 'active' %></li>
                        </ul>
                    </div>
                <% end %>
            </div>
            <div class="help-panel">
                <div class="menu-wrapper">
                    <div class="left-menu">
                        <div class="menu-inner">
                            <ul>
                                <li class="spacer"></li>
                                <li class="divider"></li>
                                <li class="header">Guides</li>
                                <%= help_nav_link 'Getting Started', 'getting_started' %>
                                <%= help_nav_link 'Website Address', 'domain' %>
                                <li class="header">HELP</li>
                                <%= help_nav_link 'Item Categories', 'categories' %>
                                <%= help_nav_link 'Item Photos', 'item_photos' %>
                                <%= help_nav_link 'Related Items', 'related' %>
                                <%= help_nav_link 'Featured Items', 'featured' %>
                                <li class="header">Information</li>
                                <%= help_nav_link 'Payment Security', 'payment_security' %>
                                <li class="spacer"></li>
                                <li class="divider"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="article-wrapper">
                    <div class="article">
                        <div class="title">
                            <%= yield :title %>
                        </div>
                        <div class="body">
                            <%= yield %>
                            <hr/>
                            <div class="question-form">
                                <h1>Ask us a question</h1>
                                <%= simple_form_for :contact_form, url:'/' do |f| %>
                                    <% if logged_in? %>
                                        <%= f.input :name, input_html:{value: current_user.name}, :as => :hidden %>
                                        <%= f.input :email_address, input_html: {value: current_user.email.address}, :as => :hidden %>
                                    <% else %>
                                        <%= f.input :name %>
                                        <%= f.input :email_address %>
                                    <% end %>
                                    <%= f.input :question, :as => :text %>
                                    <div class="form-actions">
                                        <%= f.submit 'Send' %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= render 'hockd_footer' %>
    </body>
</html>
