<!DOCTYPE html>
<html>
    <head>
        <title>Hockd.com - Pawnshop Online Site and Catalog Builder</title>
        <%= stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script>Stripe.setPublishableKey('<%= STRIPE_PUBLIC_KEY %>');</script>
    </head>
    <div class="page-wrapper">
        <%= yield %>
    </div>
</body>
</html>
