<!DOCTYPE html>
<html>
    <head>
        <title>Hockd.com - Pawnshop Online Site and Catalog Builder</title>
        <%= stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script>Stripe.setPublishableKey('pk_test_rviNQPAp6nR3ezA4IJ9cWp4h');</script>
        <%= analytics_init if Rails.env.production? %>
    </head>
    <body>
        <div class="site-header">
            <div class="logo"><a href="/">hockd</a></div>
            <div class="links">
                <%= link_to 'Help', help_landing_path %>
                <% unless logged_in? %>
                    <%= link_to 'Create Account', homepage_signup_path %>
                <% end %>
                <% if logged_in? %>
                    <%= link_to 'Open Control Panel', inventory_landing_path %>
                <% else %>
                    <%= link_to 'Login', homepage_signin_path %>
                <% end %>
            </div>
        </div>
        <div class="page-wrapper">
            <%= yield %>
        </div>
    </body>
</html>
