<!DOCTYPE html>
<html>
    <head>
        <title>Hockd.com - Control Panel</title>
        <%= stylesheet_link_tag    'inventory', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script>Stripe.setPublishableKey('<%= STRIPE_PUBLIC_KEY %>');</script>
    </head>
    <body>
        <div class="page-wrapper">
            <div class="header">
                <div class="logo"><%= link_to 'hockd', homepage_landing_path %></div> 
                <%= render 'inventory/top_nav', control_panel_active: true  %>
            </div>
            <div class="content-panel">
                <div class="panel-header">
                    <div class="title">Inventory Management</div>
                    <ul>
                    </ul>
                </div>
                <div class="sidenav">
                    <ul>
                        <li class="header">Inventory</li>
                        <%= side_nav_link 'Items', inventory_items_path, controller: 'Inventory::Item' %>
                        <%= side_nav_link 'Item Categories', inventory_item_categories_path, controller: ['Inventory::ItemCategory', 'Inventory::ItemSubCategory'] %>
                        <li class="header">Settings</li>
                        <%= side_nav_link 'Application', inventory_application_settings_path, controller: 'Inventory::Settings' %>
                        <%= side_nav_link 'Apperance', inventory_apperance_settings_path, controller: 'Inventory::Settings' %>
                        <%= side_nav_link 'Billing', inventory_billing_path, controller: 'Inventory::Billing' %>
                    </ul>
                </div>
                <div class="content">
                    <%= yield %>
                </div>
            </div>
            <%= render 'inventory/footer' %>
        </div>
    </body>
</html>
