
<!DOCTYPE html>
<html>
    <head>
        <title>Hockd.com - Control Panel</title>
        <%= stylesheet_link_tag    'inventory', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script>Stripe.setPublishableKey('<%= STRIPE_PUBLIC_KEY %>');</script>
    </head>
    <body>
            <div class="header landing">
                <div class="logo"><%= link_to 'hockd', homepage_landing_path %></div> 
            </div>
            <div class="landing-content">
                <%= yield %>
                <div class="landing-buttons">
                    <%= yield :buttons %>
                </div>
            </div>
    </body>
</html>

<% @current_trigger.presented! %>
